{% extends "network/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block content %}
<style>

</style>
<div class="page-heading">
    <h1>
        Hosts 
        <small>
            list of all hosts
            <a href="{% url network.host_create %}"><i class="icon-plus"></i></a>
        </small>
    </h1>
</div>

<ul class="nav nav-pills">
    <li class="disabled"><a href="#">Filter by vlans</a></li>
    <li {% if not request.GET.vlan %} class="active"{% endif %}><a href="{{ request.path }}">ALL</a></li>
    {% for vlan in vlans %}
    <li{% if request.GET.vlan|add:"0" == vlan.id %} class="active"{% endif %}><a href="?vlan={{ vlan.id }}">{{ vlan.name }}</a></li>
    {% endfor %}
</ul>

{% render_table table %}

{% endblock %}
