{% extends "network/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block content %}

<div class="page-heading">
  <h1>Latest modifications</h1>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>Action</th>
        <th>Model</th>
        <th>Name</th>
        <th>Time since</th>
    </tr>
    {% for l in latest %}
    <tr>
        <td>{% if l.modified_at == l.created_at %}created{% else %}modified{% endif %}</td>
        <td>{{ l.class_name }}</td>
        <td><a href="{{ l.link }}">{{ l.name }}</a></td>
        <td>{{ l.modified_at|timesince }}</td>
    </tr>
{% endfor %}
</table>

<div class="page-heading">
  <h1>Dashboard <small>foo bar baz</small></h1>
</div>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <p class="lead"><a href="{% url network.host_list %}">Hosts</a> are machines on the network.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
</ul>
{% endblock %}
