{% extends "network/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block content %}
<div class="page-heading">
  <h1>Dashboard <small>foo bar baz</small></h1>
</div>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <p class="lead"><a href="{% url network.host_list %}">Hosts</a> are machines on the network.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <p class="lead">Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit.</p>
      <p>Proin mattis enim risus. Ut condimentum eu enim quis auctor. Duis lobortis sollicitudin lacus, scelerisque dictum arcu aliquam nec.</p>
      
      </p>
    </div>
  </li>
</ul>
{% endblock %}
