{% extends "network/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-header">
    <h2>{% trans "Create a new record" %}</h2>
</div>

<div class="row">
  <div class="col-sm-6">
    {% crispy form %}
  </div>
  <div class="col-sm-4">
  </div><!-- col-sm-4 -->
</div><!-- row -->
{% endblock %}
{% block extra_etc %}                                                       
<script src="{% static "js/record.js" %}"></script>                   
{% endblock %}                                                              
~                       
