{% extends "dashboard/base.html" %}
{% load i18n %}
{% block title-page %}{% trans "Help" %}{% endblock %}
</style>
{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="page-header">
      <h1>{% trans "Help" %} <small>{% trans "user guide in short" %}</small></h1>
    </div>
    <ul class="help-tabs nav nav-tabs">
      
      <li class="active">
        <a href="#">
          <i class="fa fa-comments-o fa-2x"></i>
            {% trans "FAQ" %}
        </a>
      </li>
 
      <li>
        <a href="#">
          <i class="fa fa-book fa-2x"></i>
            {% trans "Overview" %}
        </a>
      </li>
      
    </ul>
  </div>
</div>
{% endblock %}
