# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*.swo
*~

# Sphinx docs:
build
_build

# SQLite3 database files:
*.db

# Logs:
*.log
.ropeproject
celerybeat-schedule
.coverage
*,cover
coverage.xml
.noseids

# Gettext object file:
*.mo

# saml
circle/attribute-maps
circle/remote_metadata.xml
circle/*.key
circle/*.pem

# collected static files:
circle/static_collected
circle/bower_components
circle/node_modules

# jsi18n files
jsi18n
scripts.rc

# less
*.css
