# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*.swo
*~

# Sphinx docs:
build
_build

# SQLite3 database files:
*.db

# Logs:
*.log
.ropeproject
celerybeat-schedule
.coverage
*,cover
coverage.xml

# Gettext object file:
*.mo

# saml
circle/attribute-maps
circle/remote_metadata.xml
circle/*.key
circle/*.pem

# collected static files:
circle/static
circle/static_collected

# jsi18n files
jsi18n
