{% load i18n %}
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          {% if text %}
            {{ text }}
          {% else %}
            {%blocktrans with object=object%}
              Are you sure you want to change <strong>{{ object }}</strong> status?
            {%endblocktrans%}
          {% endif %}
        <div class="pull-right">
          <form action="{% url "dashboard.views.status-node" pk=object.pk %}" method="POST">
            {% csrf_token %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <input type="hidden" name="change_status" value=""/>
            <button class="btn btn-warning">{% blocktrans with status=status %}Yes, {{status}}{% endblocktrans %}</button>
          </form>
        </div>
        <div class="clearfix"></div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
