<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-body">  
        Are you sure you want to delete <strong>{{ object }}</strong>?
        <br />
        <div class="pull-right" style="margin-top: 15px;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> 
          <button id="confirmation-modal-button" type="button" class="btn btn-danger">Delete</button> 
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content --> 
  </div><!-- /.modal-dialog --> 
</div>
