{% load i18n %}
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {% if member %}
          {% blocktrans with group=object member=member %}
          Do you really want to remove <strong>{{ member }}</strong> from {{ group }}?
          {% endblocktrans %}
        {% else %}
          {% blocktrans with object=object %}
            Are you sure you want to delete <strong>{{ object }}</strong>?
          {% endblocktrans %}
        {% endif %}
        <br />
        <div class="pull-right" style="margin-top: 15px;">
          <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <a class="btn btn-default">{% trans "Cancel" %}</a>
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            <button class="btn btn-danger"
              {% if disable_submit %}disabled{% endif %}
              >{% trans "Delete" %}</button>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
