{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}
  <div class="body-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin">
          {% if title %}
            {{ title }}
          {% else %}
            {% trans "Status changing confirmation" %}
          {% endif %}  
        </h3>
      </div>
      <div class="panel-body">
          {% if text %}
            {{ text }}
          {% else %}
            {%blocktrans with object=object%}
              Are you sure you want to change <strong>{{ object }}</strong> status?
            {%endblocktrans%}
          {% endif %}
        <div class="pull-right">
          <form action="" method="POST">
            {% csrf_token %}
            <a class="btn btn-default">{% trans "Cancel" %}</a>
            <button type="button" class="btn btn-default" data-dismiss="modal"></button> 
	    <input type="hidden" name="change_status" value=""/>
            <button class="btn btn-warning">{% blocktrans with status=status %}Yes, {{status}}{% endblocktrans %}</button>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
