{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
  <div class="body-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin">
          {% if title %}
            {{ title }}
          {% else %}
            Flush confirmation
          {% endif %}
        </h3>
      </div>
      <div class="panel-body">
          {% if text %}
            {{ text }}
          {% else %}
            {%blocktrans with object=object%}
              Are you sure you want to flush <strong>{{ object }}</strong>?
            {%endblocktrans%}
          {% endif %}
        <div class="pull-right">
          <form action="" method="POST">
            {% csrf_token %}
	    <a class="btn btn-default">{% trans "Back" %}</a>
	    <input type="hidden" name="flush" value=""/>
	    <button class="btn btn-warning">{% trans "Yes" %}</button>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
