.table-with-form-fields tbody tr td {
  line-height: 34px;
}

#vlan-access-table th:last-child, #vlan-access-table td:last-child {
  text-align: center;
}

#host-detail-records-table td:first-child,
#host-detail-records-table th:first-child {
  text-align: center;
  width: 60px;
}

#rule-list-table {
  td {
    text-align: center;
    &:nth-child(2), &:nth-child(3) {text-align: left;}
  }
}
