{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title-page %}{% trans "Request types" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <a class="btn btn-xs btn-success" href="{% url "request.views.lease-type-create" %}">
            <i class="fa fa-plus-circle"></i>
            {% trans "new lease type" %}
          </a>
          <a class="btn btn-xs btn-success" href="{% url "request.views.template-type-create" %}">
            <i class="fa fa-plus-circle"></i>
            {% trans "new template access type" %}
          </a>
        </div>
        <h3 class="no-margin"><i class="fa fa-phone"></i> {% trans "Request types" %}</h3>
      </div>
      <div class="panel-body">
        <div class="text-muted little-margin-bottom">
          {% trans "Lease types are used for sharing leases. User can request longer ones via these." %}
        </div>
        <div class="table-responsive">
          {% render_table lease_table %}
        </div>

        <div class="text-muted little-margin-bottom">
          {% blocktrans %}
            Template access types are used for sharing multiple templates with users.
            They can request these with user or operator level access on the included templates.
          {% endblocktrans %}
        </div>
        <div class="table-responsive">
          {% render_table template_table %}
        </div>
      </div><!-- .panel-body -->
    </div>
  </div>
</div>
{% endblock %}
