<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% get_current_language as lang %}
<html lang="{{lang}}">
<head>
    <title>{% block title %}IK Cloud{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}" />
    {% if DEBUG %}<link rel="stylesheet/less" href="{% static "style/style.less" %}" />{% else %}
    <link href="{% static "style/style.css" %}" rel="stylesheet" type="text/css" />{% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="{% static "script/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
    <script type="text/javascript">
        window.localStorage.removeItem('https://cloud.ik.bme.hu/static/style/style.less:timestamp');
        var current_user={{user.id}};
    </script>
    {% if DEBUG %}<script src="{% static "script/less.min.js" %}"></script>{% endif %}
    <script src="{% static "script/knockout.min.js" %}"></script>
    {% if DEBUG %}<script type="text/javascript" src="{% static "script/util.js" %}"></script>
    {% else %}<script type="text/javascript" src="{% static "script/util.min.js" %}"></script>
    {% endif %}
    {% if DEBUG %}<script type="text/javascript" src="{% static "script/cloud.js" %}"></script>
    {% else %}<script type="text/javascript" src="{% static "script/cloud.min.js" %}"></script>
    {% endif %}
    {{ form.media }}
    {% block js %}{% endblock %}
</head>
<body>
    <div id="header">
        {% block login %}
        <div id="loginblock"><p>
            {% if user.is_authenticated %}
            {% trans "Logged in:" %} {{ user.username }}.
            <a href="{% url logout %}">{% trans "Logout" %}</a>.
            {% if user.is_staff %}
            <a href="{% url admin:index %}">{% trans "Admin" %}</a>.
            {% endif %}
            {% else %}
            <a href="{% url login %}">{% trans "Login" %}</a>.
            {% endif %}
            {% if user.is_authenticated %}
            {% if lang == 'hu' %}
            <a href="{% url school.views.language "en" %}">In English</a>.
            {% else %}
            <a href="{% url school.views.language "hu" %}">Magyarul</a>.
            {% endif %}
            {% endif %}
            </p>
        </div>
        {% endblock %}
        {% block header %}
        {% block header_title %}
        <h1><a href="{% url one.views.index %}">IK Cloud</a></h1>
        {% endblock %}
        {% endblock %}
    </div>
    {% block messages %}
    {% if messages %}
    <ul class="messagelist">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock messages %}
    <div id="content">
        {% block content %}{% endblock %}
        <div class="clear"></div>
    </div>
    <footer>
        <a href="/impressum/">{% trans "Impressum" %}</a>|
        <a href="/policy/">{% trans "Policy" %}</a>|
        <a href="/help/">{% trans "Help" %}</a>|
        <a href="/support">{% trans "Support" %}</a><br />
        © Copyright 2013
    </footer>
    <div id="modal" style="display: none">
        <div id="shadow"></div>
        <div id="modal-container">

        </div>
    </div>
</body>
</html>
