<!DOCTYPE html>
{% load i18n %}
{% get_current_language as lang %}
<html lang="{{lang}}">
<head>
    <title>{% block title %}IK Cloud{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
        <link rel="icon" type="image/png" href="one/static/favicon.png">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript">
$(function(){
    $('.wm').click(function(){
        if($(this).children('.details').is(':hidden')){
            $(this).children('.details')
                .css('height',0)
                .css('padding','0px 5px')
                .show()
                .animate({height:160,paddingTop:15,paddingBottom:15},700);
        } else {
            var that=this;
            $(this).children('.details')
                .css('height',130)
                .css('padding','15px 5px')
                .animate({height:0,paddingTop:0,paddingBottom:0},700,function(){
                $(that).children('.details').hide();
            });
        }
    })
})
        </script>

    {{ form.media }}
    {% block js %}{% endblock %}
</head>

<body>
    <div id="header">
        {% block login %}
            <div id="loginblock"><p>
               {% if user.is_authenticated %}
                   Bejelentkezve: {{ user.username }}.
                   <a href="/logout/">Kijelentkezés</a>.
                   {% if user.is_staff %}
                   <a href="/admin/">Admin</a>.
                   {% endif %}
               {% else %}
                   <a href="/login/">Bejelentkezés</a>.
               {% endif %}
               <!--{% if lang == 'hu' %}
               <a href="/language/en-US/">In English</a>.
               {% else %}
               <a href="/language/hu/">Magyarul</a>.
                   {% if autolang %}
                   <p style="position: absolute; top: 40px; right: 1em;" class="triangle-border top">Böngészője kifejezetten angol tartalmat kért.<br/>A <a href="/language/hu/">magyar változat</a> részletesebb és frissebb!</p>
                   {% endif %}
               {% endif %}-->
               </p>
           </div>
        {% endblock %}
        {% block header %}
            {% block header_title %}
            <h1><a href="/">IK Cloud</a></h1>
            {% endblock %}
        {% endblock %}
    </div>

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
