<!DOCTYPE html>
{% load i18n %}
{% get_current_language as lang %}
<html lang="{{lang}}">
<head>
    <title>{% block title %}IK Cloud{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="icon" type="image/png" href="one/static/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript">
$(function(){
    $('.wm .summary').each(function(){
      this.originalHeight=parseInt($(this).next('.details').css('height'));
    })
    var toggleDetails=function(){
      if($(this).next('.details').is(':hidden')){
            $(this).next('.details')
                .css('height',0)
                .css('padding','0px 5px')
                .animate({height:this.originalHeight,paddingTop:15,paddingBottom:15},700);
            $(this).parent('.wm').addClass('opened');

        } else {
            var that=this;
            $(this).next('.details')
              //2*15px paddingot le kell vonni, a jQuery szar
                .css('height',this.originalHeight-30)
                .css('padding','15px 5px')
                .animate({height:0,paddingTop:0,paddingBottom:0},700,function(){
                $(that).parent('.wm').removeClass('opened');
            });
        }
    }
    $('.wm .summary').click(toggleDetails);
    $('#load-more-files').click(function(){
        $('.actions', this).show();
        var that=this;
        setTimeout(function(){
            $(that).prev('li').slideDown(500,function(){
                $('.actions', that).hide();
            });
        },2000);
    })
    $('#new-wm-button').click(function(){
      $('#modal').show();
      $('#modal-container').html($('#new-wm').html());
      $('#modal-container .wm .summary').each(function(){
        this.originalHeight=parseInt($(this).next('.details').css('height'));
      })
      $('#modal-container .wm .summary').click(toggleDetails);
    });
    $('#shadow').click(function(){
      $('#modal').hide();
    })
})
        </script>

    {{ form.media }}
    {% block js %}{% endblock %}
</head>

<body>
    <div id="header">
        {% block login %}
            <div id="loginblock"><p>
               {% if user.is_authenticated %}
                   Bejelentkezve: {{ user.username }}.
                   <a href="/logout/">Kijelentkezés</a>.
                   {% if user.is_staff %}
                   <a href="/admin/">Admin</a>.
                   {% endif %}
               {% else %}
                   <a href="/login/">Bejelentkezés</a>.
               {% endif %}
               <!--{% if lang == 'hu' %}
               <a href="/language/en-US/">In English</a>.
               {% else %}
               <a href="/language/hu/">Magyarul</a>.
                   {% if autolang %}
                   <p style="position: absolute; top: 40px; right: 1em;" class="triangle-border top">Böngészője kifejezetten angol tartalmat kért.<br/>A <a href="/language/hu/">magyar változat</a> részletesebb és frissebb!</p>
                   {% endif %}
               {% endif %}-->
               </p>
           </div>
        {% endblock %}
        {% block header %}
            {% block header_title %}
            <h1><a href="/">IK Cloud</a></h1>
            {% endblock %}
        {% endblock %}
    </div>

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="modal" style="display: none">
        <div id="shadow"></div>
        <div id="modal-container">
        </div>
    </div>
</body>
</html>
