{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="boxes">
    <div class="contentblock">
        <h2>
            Adattár
        </h2>
        <div class="content">
            <ul class="file-list">
                <li class="wm small" id="current-location">
                    <div class="summary">
                        <div class="name">Jelenlegi hely: <span data-bind="text: currentPath"></span></div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <ul class="file-list" id="file-list">
                <li class="wm real" data-bind="visible: notInRoot, click: jumpUp">
                    <div class="summary">
                        <div class="name filetype-jump-out">
                            ..
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="wm small real" data-bind="visible: files().length == 0">
                    <div class="summary">
                        <div class="name">{% trans "No files." %}</div>
                        <div class="clear"></div>
                    </div>
                </li>
                <!-- ko foreach: {data:files,afterAdd:fadeIn} -->
                <li class="wm real">
                    <div class="summary" data-bind="click: clickHandler">
                        <div class="name" data-bind="text: name, attr: {class: getTypeClass}"></div>
                        <div class="info" data-bind="text: size"></div>
                        <div class="actions">
                            <a href="#" data-bind="click: $parent.rename, clickBubble: false">
                                <img src="/static/icons/pencil.png" alt="{% trans "rename" %}" />
                            </a>
                            <a href="#" data-bind="click: $parent.delete, clickBubble: false">
                                <img src="/static/icons/minus-circle.png" alt="{% trans "remove" %}" />
                            </a>
                            <a href="#" data-bind="click: $parent.download, clickBubble: false">
                                <img src="/static/icons/download-cloud.png" alt="{% trans "download" %}" />
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="details">
                        <div class="details-container">
                            <ul>
                                <li>{% trans "Last modification" %}: <span class="value" data-bind="text: mTime"></span></li>
                                <li>{% trans "Type" %}: <span class="value" data-bind="text: type"></span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
            <ul class="file-list">
                <li class="file-details wm small-row" id="load-more-files" data-bind="visible: (files().length>0 && files().length != allFiles.length)">
                    <div class="summary" data-bind="click: showMore">
                        <div class="name filetype-more">
                            {% trans "Show more files…" %} (<span data-bind="text: allFiles.length-files().length"></span> hidden)
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="wm small-row">
                    <div class="summary">
                        <div class="name filetype-new-folder">{% trans "Create folder" %}</div>
                        <div id="new-folder-form">
                            <input type="text" placeholder="{% trans "Name of new folder" %}" data-bind="value: newFolderName, click: function(m,e){console.log(arguments); e.preventDefault(); e.stopPropagation(); return false;}" />
                            <input type="submit" data-bind="click: newFolder, clickBubble: false" value="Létrehozás" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
                <li class="file-upload wm small-row">
                    <div class="summary" data-bind="click: getUploadURL">
                        <div class="quota">
                            <div id="upload-progress" class="used" style="background-color: rgba(0,255,0,0.2);" data-bind="style: {width: uploadProgress}"></div>
                        </div>
                        <div class="name filetype-up">{% trans "File upload" %}</div>
                        <div class="clear"></div>
                    </div>
                    <div class="details">
                        <div class="container">
                            <div id="upload-zone" class="upload-zone">
                                <p>{% trans "Drag and drop files here to start uploading." %}</p>
                                <p>{% trans 'You can also use the <a href="#" id="old-upload">the traditional upload form</a>.' %}</p>
                                <p>{% trans 'Upload limit is 1GB per file!' %}</p>
                            </div>
                            <div style="display: none" id="upload-progress-text" class="upload-zone"></div>
                            <div style="display: none" id="upload-error" class="upload-zone">
                                <p id="upload-error-size" style="display: none">{% trans "Error: File is bigger than 1GB!" %}</p>
                                <p id="upload-error-server" style="display: none">{% trans "Error: Upload server is not available!" %}</p>
                                <p id="upload-error-overwrite" style="display: none">{% trans "Error: File already exists!" %}</p>
                                <p id="upload-error-unknown" style="display: none"></p>
                            </div>
                            <div style="display: none" class="upload-zone" id="old-upload-form">
                                <form action="/" method="POST" data-bind="attr: {action: uploadURL}" enctype="multipart/form-data">
                                    <input type="file" name="data" />
                                    <input type="submit" value="Feltöltés" />
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wm small">
                    <div class="summary">
                        <div class="quota">
                            <div class="used" style="background-color: rgba(0,255,0,0.2)" data-bind="style: {width: quota.usedBar}"></div>
                            <div class="softLimit" data-bind="style: {left: quota.softPos}"></div>
                        </div>
                        <div class="name">
                            {% trans "File quota" %}: <abbr data-bind="text: quota.used" title="{% trans "Used space" %}"></abbr>/<abbr data-bind="text: quota.soft" title="{% trans "soft limit" %}"></abbr>
                            (<abbr title="{% trans "hard limit" %}" data-bind="text: quota.hard"></abbr>)
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
