<form action="/" method="post">
	<div id="new-template-step-1" class="wizard">
		<div class="progress">
			<div class="bar" style="width: 33%"></div>
			<h3>1/3</h3>
		</div>
		<h2>1. lépés</h2>
		<p>Leírás, mit is kéne itt ezen az ablakon csinálni, és miért jó, ha azt csinálja, amit.</p>
		<ul>
			<li>
				<label for="new-template-name">Név</label>
				<input placeholder="A sablon rövid neve" name="name" id="new-template-name"/>
				<div class="clear"></div>
			</li>
			<li>
				<label for="new-template-type">Típus</label>
				<select name="type" id="new-template-type">
					<option value="labor">Labor</option>
					<option value="project">Project</option>
				</select>
				<div class="clear"></div>
			</li>
			<li>
				<label for="new-template-size">Méret</label>
				<select name="size" id="new-template-size">
					<option value="small">small</option>
					<option value="medium">medium</option>
					<option value="large">large</option>
				</select>
				<div class="clear"></div>
			</li>
			<li style="border: none">
				<label for="new-template-description">Leírás</label>
				<textarea name="description" id="new-template-description">A sablonhoz fűzött megjegyzések.</textarea>
				<div class="clear"></div>
			</li>
		</ul>
	</div>
	<div id="new-template-step-2">
		
	</div>
	<div id="new-template-step-3">
		
	</div>
</form>
