{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="boxes">
        <div class="contentblock" id="state">
            <h2>Csatlakozás</h2>
            <div class="content">
<p style="font-size:25px; line-height:2em;text-align:center;"><a href="{{uri}}" class="button">Csatlakozás</a></p>
            </div>
        </div>
    {% for box in boxes %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="contentblock" id="project_closed">
            <h2>{{ box.title }}</h2>
            <div class="content">
                {{ box.text|safe }}
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
<div class="boxes">
    {% for box in boxes %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="contentblock" id="project_closed">
            <h2>{{ box.title }}</h2>
            <div class="content">
                {{ box.text|safe }}
            </div>
        </div>
    {% endif %}
    {% endfor %}
        <div class="contentblock" id="state">
            <h2>A cluster állapota</h2>
            <div class="content">
                <p style="text-align:center"><a href="http://cloud.ik.bme.hu/"><img src="http://cloud.ik.bme.hu/cpu.png" alt="aktuális terhelés" style="border: solid #892034 2px; border-radius:10px;" /><img src="http://cloud.ik.bme.hu/ram.png" alt="aktuális memóriafoglaltság" style="border: solid #892034 2px; border-radius:10px;" /></a></p>
            </div>
        </div>
   {% if user.is_staff %}
   <p class="rightbuttons"><a class="button" href="{{ page_edit }}">Szerkesztés</a></p>
   {% endif %}
</div>
{% endblock %}
