{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
	{% if state == "PENDING" %}
		setTimeout("location.reload(true);", 1500)
	{% endif %}
	{% if state == "ACTIVE" %}
		{% if age < 15 %}
		setTimeout("document.getElementById('wait').style.display='none';document.getElementById('connect').style.display='block';", 15000-{{age}}000);
		{% endif %}
		var meloading = false;
		function connectbutton() {
			if (meloading) {
				return false;
			}
			meloading = true;
			setTimeout("document.getElementById('connecting').style.display='none';meloading=false;", 15000);
			document.getElementById('connecting').style.display='inline';
			return true;
		}
	{% endif %}
</script>
{% endblock %}

{% block content %}
<div class="boxes">
        <div class="contentblock" id="state">
            <h2>{{name}}</h2>
            <div class="content">
		{% if state == "PENDING" %}
			<p style="font-size:25px; line-height:2em;text-align:center;"><img src="/static/load-2.gif" /> Gép indítása..</p>
			<p style="font-size:25px; line-height:2em;text-align:center;">
				<form action="{% url vm_delete id %}" method="post" onsubmit="return confirm('Biztosan törli a gépet?')">{% csrf_token %}<input type="submit" class="icon-delete" value="Törlés" /></form>
				<a href="/"><img src="/static/icons/Go-home.png" alt="&lt;-" /></a>
			</p>
		{% endif %}
		{% if state == "ACTIVE" %}
			{% if age < 15 %}
				<p id="wait" style="font-size:25px; line-height:2em;text-align:center;"><img src="/static/load-2.gif" /> Gép indítása...</p>
				<p id="connect" style="display:none; font-size:25px; line-height:2em;text-align:center;">
					<a href="{{uri}}" class="button" onclick="return connectbutton();">
						<img src="/static/load-1.gif" id="connecting" style="display:none;" /> Csatlakozás
					</a>
				</p>
				<p style="font-size:25px; line-height:2em;text-align:center;">
				<form action="{% url vm_delete id %}" method="post" onsubmit="return confirm('Biztosan törli a gépet?')">{% csrf_token %}<input type="submit" class="icon-delete" value="Törlés" /></form>
					<a href="/"><img src="/static/icons/Go-home.png" alt="&lt;-" /></a>
				</p>
			{% else %}
				<p id="connect" style="font-size:25px; line-height:2em;text-align:center;">
					<a href="{{uri}}" class="button" onclick="return connectbutton();">
						<img src="/static/load-1.gif" id="connecting" style="display:none;" /> Csatlakozás
					</a>
				</p>
				<p style="font-size:25px; line-height:2em;text-align:center;">
				<form action="{% url vm_delete id %}" method="post" onsubmit="return confirm('Biztosan törli a gépet?')">{% csrf_token %}<input type="submit" class="icon-delete" value="Törlés" /></form>
					<a href="/"><img src="/static/icons/Go-home.png" alt="&lt;-" /></a>
				</p>
			{% endif %}
		{% endif %}
		{% if state == "DONE" %}
			<p style="font-size:25px; line-height:2em;text-align:center;">A gép törölve van!</p>
			<p style="font-size:25px; line-height:2em;text-align:center;">
				<a href="/"><img src="/static/icons/Go-home.png" alt="⌫" /></a>
			</p>
		{% endif %}
		{% if state == "FAILED" %}
			<p style="font-size:25px; line-height:2em;text-align:center;">Váratlan hiba lépett fel.</p>
			<p style="font-size:25px; line-height:2em;text-align:center;">
				<form action="{% url vm_delete id %}" method="post" onsubmit="return confirm('Biztosan törli a gépet?')">{% csrf_token %}<input type="submit" class="icon-delete" value="Törlés" /></form>
				<a href="/"><img src="/static/icons/Go-home.png" alt="⌫" /></a>
			</p>
		{% endif %}
		{% if state == "SUSPENDED" %}
			<p style="font-size:25px; line-height:2em;text-align:center;">
				<a href="/vm/suspend/{{i.id}}/"><img src="/static/icons/Media-playback-start.png" alt="&gt;" /></a>
				<a href="/"><img src="/static/icons/Go-home.png" alt="⌫" /></a>
			</p>
		{% endif %}
            </div>
        </div>
        <div class="contentblock" id="state">
            <h2>Bejelentkezési adatok</h2>
            <div class="content">
		<table><tr><th>Protokoll:</th><td>{{i.template.access_type|upper}}</td></tr>
		       <tr><th>Gépnév:</th><td>cloud.ik.bme.hu</td></tr>
                       <tr><th>Port:</th><td>{{ i.get_port}}
</td></tr>
                       <tr><th>Felhasználónév:</th><td>cloud</td></tr>
                       <tr><th>Jelszó:</th><td>{{ i.pw }}</td></tr>
		</table>
            </div>
        </div>
</div>
<div class="boxes">
	{% include "box-vmlist.html" %}
</div>
{% endblock %}
