{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<div class="content">
    <table>
        <tr>
            <th>{% trans "Protocol" %}:</th>
            <td>
                
                <div class="boxhelp">
                    <div class="icon">
                        <img src="{% static "icons/information-frame.png" %}" alt="{% trans "Help" %}" />
                    </div>
                    <div class="boxhelp-box">
                        {% if i.template.os_type == 'linux' %}
                        <p>{% blocktrans %}You can access Linux machines through
                        the SSH protocol (we recommend
                        <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/">
                            PuTTY</a> for Windows and OpenSSH for all other systems).
                        {% endblocktrans %}</p>
                        {% if i.template.access_type == 'nx' %}
                        <p>{% blocktrans %}Graphical log in is also supported with
                        the <a href="http://www.nomachine.com/download.php">
                        NoMachine NX Client</a> application.{% endblocktrans %}</p>
                        {% endif %}
                        {% else %}
                        <p>{% blocktrans %}You can access Windows machines through
                        the remote desktop protocol.{% endblocktrans %}</p>
                        <p>{% blocktrans %}We recommend the built-in remote desktop
                        client for Windows and Remmina for Linux.{% endblocktrans %}</p>
                        {% endif %}
                    </div>
                </div>
                {{i.template.access_type|upper}}
            </td>
        </tr>
        <tr>
            <th>{% trans "IP" %}:</th>
            <td>{{ i.hostname }}</td>
        </tr>
        <tr>
            <th>{% trans "Port" %}:</th>
            <td>{{ i.port}}</td>
        </tr>
        <tr>
            <th>{% trans "Username" %}:</th>
            <td>cloud</td>
        </tr>
        <tr>
            <th>{% trans "Password" %}:</th>
            <td><input type="password" class="hidden-password" value="{{ i.pw }}" /></td>
        </tr>
    </table>
</div>
