{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="content">
    <table>
        <tr>
            <th>{% trans "Protocol" %}:</th>
            <td>{{i.template.access_type|upper}}</td>
        </tr>
        <tr>
            <th>{% trans "IP" %}:</th>
            <td>{{ i.firewall_host.pub_ipv4 }}</td>
        </tr>
        <tr>
            <th>{% trans "Port" %}:</th>
            <td>{{ i.get_port}}</td>
        </tr>
        <tr>
            <th>{% trans "Username" %}:</th>
            <td>cloud</td>
        </tr>
        <tr>
            <th>{% trans "Password" %}:</th>
            <td><input type="password" class="hidden-password" value="{{ i.pw }}" /></td>
        </tr>
    </table>
</div>
