{% extends "box/base/box.html" %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% trans "Public keys" %}
{% endblock title %}

{% block content %}
<ul class="entry-list" id="keys">
    {% for key in keys %}
        {% include "box/key/entry.html" %}
    {% endfor %}
    <li class="entry small-row">
        <div class="summary" id="new-key">
            <div class="name">{% trans "Add public key" %}</div>
            <div class="clear"></div>
        </div>
        <div class="details">
            <form style="padding-bottom: 10px" action="/key/add/">
                {% csrf_token %}
                <textarea style="margin-bottom: 5px" name="key" placeholder="{% trans "Public key in OpenSSH format" %}"></textarea><br />
                <input type="submit" style="margin-left: 10px;" value="{% trans "Save" %}" />
            </form>
        </div>
    </li>
</ul>
{% endblock content %}
