{% extends "box/base/entry.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<li class="entry">
    {{block.super}}
</li>
{% endblock content %}

{% block summary %}
<div class="summary">
    <div class="name">
        {{key}}
    </div>
    <div class="actions">
        <a href="#" class="remove delete-key-button" data-id="{{key.id}}">
            <img src="/static/icons/minus-circle.png" alt="{% trans 'Remove' %}" />
        </a>
    </div>
    <div class="clear"></div>
</div>
{% endblock summary %}

{% block details %}
<textarea>{{key.key}}</textarea>
{% endblock details %}
