<div class="navbar">
  <div class="navbar-inner">
    <div class="pagination pull-left">
      <ul>
        <li ng-click="prevPage()" ng-class="{disabled: page == 1}">
          <a href>Előző</a>
        </li>
        <li ng-repeat="_page in pages" ng-click="setPage(_page)" ng-class="{active: _page == page}">
          <a href>{{_page}}</a>
        </li>
        <li ng-click="nextPage()" ng-class="{disabled: page == pages.length}">
          <a href>Next</a>
        </li>
      </ul>
    </div>
    <form class="navbar-search" style="margin: 20px">
      <input type="text" class="search-query" placeholder="Search" ng-model="query">
    </form>
    <a style="margin-top: 20px" href="#/hosts/new" class="btn">New host</a>
  </div>
</div>
<table class="table table-striped">
  <tr>
    <th>Név</th>
    <th>Vlan</th>
    <th>IPv4</th>
    <th>Csoportok</th>
    <th>Tulajdonos</th>
    <th colspan="2">Leírás</th>
  </tr>
  <tr ng-repeat="host in getPage()">
    <td>{{host.name}}</td>
    <td>
      <a href="#/vlans/{{host.vlan.id}}">{{host.vlan.name}}</a>
    </td>
    <td>{{host.ipv4}}</td>
    <td>
      <div class="well well-small">
        <span class="label label-info" ng-repeat="group in host.groups">
          <a href="#/hostgroups/{{group.id}}">{{group.name}}</a>
        </span>
      </div>
    </td>
    <td>{{host.owner.name}}</td>
    <td style="width: 200px;">{{host.description}}</td>
    <td>
      <a class="btn" href="#/hosts/{{host.id}}/">Szerkesztés</a>
      <a class="btn btn-danger" href="#/hosts/{{host.id}}/delete/">Törlés</a>
    </td>
  </tr>
</table>
