<div class="navbar">
    <div class="navbar-inner">
        <div class="pagination pull-left">
            <ul>
                <li ng-click="prevPage()" ng-class="{disabled: page == 1}"><a href>Előző</a></li>
                <li ng-repeat="_page in pages" ng-click="setPage(_page)" ng-class="{active: _page == page}">
                <a href>{{_page}}</a>
                </li>
                <li ng-click="nextPage()" ng-class="{disabled: page == pages.length}"><a href>Next</a></li>
            </ul>
        </div>
        <form class="navbar-search" style="margin: 20px">
            <input type="text" class="search-query" placeholder="Search" ng-model="query">
        </form>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Irány</th>
        <th>Protokoll</th>
        <th>Cél</th>
        <th>Idegen hálózat</th>
        <th>Tulajdonos</th>
        <th colspan="2">Megjegyzés</th>
    </tr>
    <tr ng-repeat="rule in rules">
        <td>{{rule.direction}}</td>
        <td>{{rule.proto}}</td>
        <td><a href="#/{{rule.target.type}}s/{{rule.target.id}}">{{rule.target.name}}</a></td>
        <td><a href="#/vlangroups/{{rule.foreignNetwork.id}}">{{rule.foreignNetwork.name}}</a></td>
        <td>{{rule.owner.name}}</td>
        <td>{{rule.description}}</td>
        <td>
            <a class="btn" href="#/rules/{{rule.id}}/">Szekesztés</a>
            <a class="btn btn-danger" href="#/rules/{{rule.id}}/delete/">Törlés</a>
        </td>
    </tr>
</table>
