{% load i18n %}

{% for op in ops %}
{% if op.show_in_toolbar %}

{% if op.disabled %}
<span class="operation operation-{{op.op}} btn btn-{{op.effect}} disabled btn-xs">
{% else %}
<a href="{{op.get_url}}" class="operation operation-{{op.op}} btn
    btn-{{op.effect}} btn-xs" title="{{op.name}}: {{op.description}}">
{% endif %}
    <i class="icon-{{op.icon}}"></i>
    <span{% if not op.is_preferred %} class="sr-only"{% endif %}>{{op.name}}</span>
{% if op.disabled %}
</span>
{% else %}
</a>
{% endif %}

{% endif %}
{% endfor %}
