{% load i18n %}
<h3>{% trans "Owner" %}</h3>
<p>
  {% if user == instance.owner %}
  {% blocktrans %}You are the current owner of this instance.{% endblocktrans %}
  {% else %}
  {% url "dashboard.views.profile" username=instance.owner.username as url %}
  {% blocktrans with owner=instance.owner name=instance.owner.get_full_name%}
    The current owner of this instance is <a href="{{url}}">{{name}} ({{owner}})</a>.
  {% endblocktrans %}
  {% endif %}
  {% if user == instance.owner or user.is_superuser %}
  <span class="operation-wrapper">
  <a href="{% url "dashboard.views.vm-transfer-ownership" instance.pk %}"
      class="btn btn-link operation">{% trans "Transfer ownership..." %}</a>
  </span>
  {% endif %}
</p>
<h3>{% trans "Permissions"|capfirst %}</h3>
{% include "dashboard/_manage_access.html" with table_id="vm-access-table" %}

<dl class="well well-sm" id="vm-detail-access-help">
  <dt>{% trans "User" %}</dt>
  <dd>
    {% trans "Grants access to the detail page so the users can connect to the virtual machine." %}
  </dd>
  <dt>{% trans "Operator" %}</dt>
  <dd>
    {% blocktrans %}
    Users or groups with operator access can modify the the name and description, open ports and grant user level access to the virtual machine.
    {% endblocktrans %}
  </dd>
  <dt>{% trans "Owner" %}</dt>
  <dd>
    {% blocktrans %}
    Full access to the virtual machine. They can use operations, change resources and grant operator level access to users or groups.
    Besides the access levels the instance also has an original owner.
    The original owner's access cannot be revoked however the ownership is transferable.
    {% endblocktrans %}
  </dd>
</dl>
