{% load i18n %}
{% load staticfiles %}
<div class="btn-toolbar">
{% if perms.vm.access_console %}
  <button id="sendCtrlAltDelButton" class="btn btn-danger btn-sm">{% trans "Send Ctrl+Alt+Del" %}</button>
  <button id="sendPasswordButton" class="btn btn-default btn-sm">{% trans "Type password" %}</button>
{% endif %}
  <button id="getScreenshotButton" class="btn btn-info btn-sm pull-right" data-vm-pk="{{ instance.pk }}"><i class="fa fa-picture"></i> {% trans "Screenshot" %}</button>
</div>
{% if perms.vm.access_console %}
<div class="alert alert-info" id="noVNC_status">
</div>
{% endif %}

<div id="vm-console-screenshot">
  <button class="btn btn-danger btn-sm pull-right">{% trans "Close" %}</button>
  <h3>{% trans "Screenshot" %}</h3>
  <img />
  <hr />
</div>

{% if perms.vm.access_console %}
<canvas id="noVNC_canvas" width="640px" height="20px">Canvas not supported.
</canvas>

<script>
  var INCLUDE_URI = '{% static "no-vnc/include/" %}';
  var VNC_URL = "{{ vnc_url }}";
</script>
{% endif %}
