{% load i18n %}
{% load sizefieldtags %}
{% load crispy_forms_tags %}

<hr />
<div class="vm-resources-sliders">

<form method="POST" action="{{ op.resources_change.get_url }}">
{% csrf_token %}
<div class="row">
  <div class="col-sm-3" style="font-weight: bold;">
    <i class="fa fa-trophy"></i> {% trans "CPU priority" %}
  </div>
  <div class="col-sm-6">
    <input type="text" class="vm-slider cpu-priority-slider"
     data-slider="true" data-slider-highlight="true" data-slider-range="10, 100"
     data-slider-values="0, 10, 30, 80, 100" data-slider-snap="true"/>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      {{ resources_form.priority }}
      <span class="input-group-addon input-tags">
        <i class="fa fa-question" title="yo"></i>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3" style="font-weight: bold;">
    <i class="fa fa-cogs"></i> {% trans "CPU count" %}
  </div>
  <div class="col-sm-6">
    <input type="text" class="vm-slider cpu-count-slider"
     data-slider="true" data-slider-highlight="true" data-slider-range="0, 10"
     data-slider-step="true" data-slider-snap="true"/>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      {{ resources_form.num_cores }}
      <span class="input-group-addon input-tags">
        <i class="fa fa-question" title="yo"></i>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" style="font-weight: bold;">
    <i class="fa fa-ticket"></i> {% trans "RAM amount" %}
  </div>
  <div class="col-sm-6">
    <input type="text" class="vm-slider ram-slider" 
     data-slider="true" data-slider-highlight="true" data-slider-range="0, 8192"
     data-slider-step="128" data-slider-snap="true"/>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      {{ resources_form.ram_size }}
      <span class="input-group-addon input-tags">
        MiB
      </span>
      <span class="input-group-addon input-tags">
        <i title="szia" class="fa fa-question"></i>
      </span>
    </div>
  </div>
</div>
{% if can_change_resources %}
    <button type="submit" class="btn btn-success btn-sm change-resources-button" id="vm-details-resources-savea"
      data-vm="{{ instance.pk }}"
      {% if not op.resources_change %}disabled{% endif %}>
      <i class="fa fa-floppy-o"></i> {% trans "Save resources" %}
    </button>
    <span class="change-resources-help"
      {% if op.resources_change %}style="display: none;"{% endif %}
      >{% trans "Stop your VM to change resources." %}</span>
{% endif %}
</form>

</div>

<hr />

<form id="vm-details-resources-form" method="POST" action="">
  {% csrf_token %}
<p class="row">
    <div class="col-sm-3">
      <label for="vm-cpu-priority-slider"><i class="fa fa-trophy"></i> {% trans "CPU priority" %}</label>
    </div>
    <div class="col-sm-9">
      <input name="cpu-priority" type="text" id="vm-cpu-priority-slider" class="vm-slider" value="{{ instance.priority }}" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ instance.priority }}" data-slider-orientation="horizontal" data-slider-handle="square" data-slider-tooltip="hide"/>
    </div>
</p>


<p class="row">
    <div class="col-sm-3">
      <label for="cpu-count-slider"><i class="fa fa-cogs"></i> {% trans "CPU count" %}</label>
    </div>
    <div class="col-sm-9">
      <input name="cpu-count" type="text" id="vm-cpu-count-slider" class="vm-slider" value=" {{ instance.num_cores }}" data-slider-min="0" data-slider-max="8" data-slider-step="1" data-slider-value="{{ instance.num_cores }}" data-slider-orientation="horizontal" data-slider-handle="square" data-slider-tooltip="hide"/>
    </div>
</p>


<p class="row">
    <div class="col-sm-3">
      <label for="ram-slider"><i class="fa fa-ticket"></i> {% trans "RAM amount" %}</label>
    </div>
    <div class="col-sm-9">
      <input name="ram-size" type="text" id="vm-ram-size-slider" class="vm-slider" value="{{ instance.ram_size }}" data-slider-min="128" data-slider-max="4096" data-slider-step="128" data-slider-value="{{ instance.ram_size }}" data-slider-orientation="horizontal" data-slider-handle="square" data-slider-tooltip="hide"/>         MiB
  </div>
</p>

{% if can_change_resources %}
<p class="row">
  <div class="col-sm-12">
    <button type="submit" class="btn btn-success btn-sm enabled-when-stopped" id="vm-details-resources-save"
      data-vm="{{ instance.pk }}"
      {% if not op.resources_change %}disabled{% endif %}>
      <i class="fa fa-floppy-o"></i> {% trans "Save resources" %}
    </button>
    <span class="hide-when-stopped"
      {% if op.resources_change %}style="display: none;"{% endif %}
      >{% trans "Stop your VM to change resources." %}</span>
  </div>
</p>
{% endif %}
</form>

<hr />

<div class="row" id="vm-details-resources-disk">
  <div class="col-sm-11">
    <h3>
      {% trans "Disks" %}
      <div class="pull-right">
        <div id="disk-ops">
          {% include "dashboard/vm-detail/_disk-operations.html" %}
        </div>
      </div>
    </h3>

    <div class="row" id="vm-details-disk-add-for-form"></div>

    {% if not instance.disks.all %}
      {% trans "No disks are added!" %}
    {% endif %}
    {% for d in instance.disks.all %}
      <h4 class="list-group-item-heading dashboard-vm-details-network-h3">
        {% with long_remove=True %}
          {% include "dashboard/_disk-list-element.html" %}
        {% endwith %}
      </h4>
    {% endfor %}
  </div>
</div>

{% if user.is_superuser %}
<hr/>

<div class="row" id="">
  <div class="col-sm-12">
    <h3>
      {% trans "Required traits" %}
    </h3>

    {% crispy traits_form %}
  </div>
</div>

<hr/>

<div class="row" id="">
  <div class="col-sm-12">
    <h3>
      {% trans "Raw data" %}
    </h3>

    {% crispy raw_data_form %}
  </div>
</div>

{% endif %}

{% block extra_js %}
  <style>
    label {padding-top: 6px;}
    .form-group {margin-bottom: 8px;}
  </style>
{% endblock %}
