{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
<div class="boxes">
    <div class="contentblock">
        <h2>Summary</h2>
    </div>
    <div class="contentblock" id="group-members">
        <h2>{% trans "Members" %}</h2>
        <ul class="wm-list">
            {% for member in members %}
            <li class="wm small-row">
                <div class="summary">
                    <div class="name">
                        {% if not member.user %}
                        {{member.code}}
                        {% else %}
                        {{member}} ({{member.code}})
                        {% endif %}
                    </div>
                    <div class="actions">
                        <a href="#" class="remove" data-gid="{{group.id}}" data-neptun="{{member.code}}">
                            <img src="/static/icons/minus-circle.png" alt="{% trans 'Remove' %}" />
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="details">
                    <div class="container">
                        {% if not member.user %}
                        {% trans "This user never logged in, no data available" %}
                        {% else %}
                        {{member}} ({{member.code}})
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
            <li class="wm small-row">
                <div class="summary" id="new-member">
                    <div class="name">{% trans "Add user" %}</div>
                    <div id="new-member-form">
                        <input type="text" placeholder="{% trans "User NEPTUN code" %}" />
                        <input type="submit" value="{% trans "Add user" %}" data-id="{{group.id}}"/>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="boxes">

            <div id="new-wm-tooltip" style="position:absolute">
                <div id="new-wm-tooltip-container">
                    <p>
                        {% trans "This group has no shared templates." %}
                    </p>
                    <p>
                        {% trans "Share one, and the group members can start their own virtual machine." %}
                    </p>
                    <div id="new-wm-tooltip-tail"></div> 
                </div>
            </div>
            {% include "box-templatelist.html" %}
</div>
{% endblock %}
