<a class="btn btn-info btn-xs node-list-details" href="#" data-toggle="popover"
  data-content='
  <h4>Quick details</h4>
  <dl class="dl-horizontal">
    <dt>Number of cores:</dt><dd>{{ record.num_cores }}</dd>
    <dt>Memory:</dt> <dd>{% widthratio record.ram_size 1048576 1 %} MB</dd>
    <dt>Architecture:</td><dd>{{ record.arch }}</dd>
  </dl>
  <dl>
    <dt>IPv4 address:</dt><dd>{{ record.ipv4 }}10.9.8.7</dd>
      <dt>IPv6 address:</dt><dd> 2001:2001:2001:2001:2001:2001::</dd>
      <dt>DNS name:</dt><dd>1825.vm.ik.bme.hu</dd>
    </ul>
'>Details</a>
