{% load i18n %}
<div class="row">
  <div class="col-md-4">
    <div style="font-weight: bold;">{% trans "Traits the node provides" %}</div>
    <div id="node-details-traits" style="margin-bottom: 20px;">
      <div id="node-details-traits-list">
        {% if node.traits.all %}
          {% for t in node.traits.all %}
            <div class="label label-success label-tag" style="display: inline-block">
              {{ t }}
	      <a data-trait-pk="{{ t.pk }}" href="#" class="node-details-remove-trait"><i class="fa fa-times"></i></a>
            </div>
          {% endfor %}
        {% else %}
	<small>{% trans "No trait added!" %}</small>
        {% endif %}
      </div>
 {% load crispy_forms_tags %}
<style>
  .row {
    margin-bottom: 15px;
  }
</style>

  <form action="{% url "dashboard.views.node-addtrait" node.pk %}" method="POST">
  {% csrf_token %}
  {% crispy trait_form %}
  </form>
    </div><!-- id:node-details-traits -->
  </div>
  <div class="col-md-8">
    {% if graphite_enabled %}
    <img src="{% url "dashboard.views.node-graph" node.pk "cpu" "6h" %}" style="width:100%"/>
    <img src="{% url "dashboard.views.node-graph" node.pk "memory" "6h" %}" style="width:100%"/>
    <img src="{% url "dashboard.views.node-graph" node.pk "network" "6h" %}" style="width:100%"/>
    {% endif %}
  </div>
  </div>
  <style>
  .form-group {
    margin: 0px;
  }

</style>
