{% load i18n %}
  {% csrf_token %}

  <dl class="dl-horizontal">
    <dt>{% trans "Node name" %}:</dt><dd>{{ node.name }}</dd>
    <dt>{% trans "CPU cores" %}:</dt><dd>{{ node.num_cores }}</dd>
    <dt>{% trans "RAM size" %}:</dt> <dd>{% widthratio node.ram_size 1048576 1 %} MB</dd>
    <dt>{% trans "Architecture" %}:</td><dd>{{ node.arch }}</dd>
    <dt>{% trans "Host IP" %}:</dt><dd>{{ node.host.ipv4 }}</dd>
    <dt>{% trans "Enabled" %}:</dt><dd>{{ node.enabled }}</dd>
    <dt>{% trans "Host online" %}:</dt><dd> {{ node.online }}</dd>
    <dt>{% trans "Priority" %}:</dt><dd>{{ node.priority }}</dd>
    <dt>{% trans "Host owner" %}:</dt><dd>{{ node.host.owner }}</dd>
    <dt>{% trans "Vlan" %}:</dt><dd>{{ node.host.vlan }}</dd>
    <dt>{% trans "Host name" %}:</dt><dd>{{ node.host.hostname }}</dd>
    </dl>

{% block extra_js %}
  <style>
    label {padding-top: 6px;}
  </style>
{% endblock %}
