{% load i18n %}
  {% csrf_token %}

  <dl class="dl-horizontal">
    <dt>{% trans "Node name" %}:</dt><dd>{{ node.name }}</dd>
    <dt>{% trans "CPU cores" %}:</dt><dd>{{ node.info.core_num }}</dd>
    <dt>{% trans "RAM size" %}:</dt> <dd>{% widthratio node.info.ram_size 1048576 1 %} MiB</dd>
    <dt>{% trans "Architecture" %}:</dt><dd>{{ node.info.architecture }}</dd>
    <dt>{% trans "Host IP" %}:</dt><dd>{{ node.host.ipv4 }}</dd>
    <dt>{% trans "Enabled" %}:</dt><dd>{{ node.enabled }}</dd>
    <dt>{% trans "Host online" %}:</dt><dd> {{ node.online }}</dd>
    <dt>{% trans "Priority" %}:</dt><dd>{{ node.priority }}</dd>
    <dt>{% trans "Driver Version:" %}</dt><dd>{{ node.driver_version.branch }} at
    	{{node.driver_version.commit}} ({{ node.driver_version.commit_text }}) 
	{% if node.driver_version.is_dirty %}
	    <span class="label label-danger">{% trans "with uncommitted changes!" %}</span>
	{% endif %}</dd>
    <dt>{% trans "Host owner" %}:</dt>
    <dd>
      {% include "dashboard/_display-name.html" with user=node.host.owner show_org=True %}
    </dd>
    <dt>{% trans "Vlan" %}:</dt><dd>{{ node.host.vlan }}</dd>
    <dt>{% trans "Host name" %}:</dt>
    <dd>
      {{ node.host.hostname }}
      <a href="{{ node.host.get_absolute_url }}" class="btn btn-default btn-xs">
        <i class="fa fa-pencil"></i>
        {% trans "Edit host" %}
      </a>
    </dd>
    </dl>

{% block extra_js %}
  <style>
    label {padding-top: 6px;}
  </style>
{% endblock %}
