/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .container > :first-child {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }
}
.no-margin {
  margin: 0!important;
}

.list-group .list-group-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.big {
  font-size: 2em;
}
.bigbig {
  font-size: 3em;
}

.timeline {
  border-left: 4px #428bca solid;
  margin-left: 20px;
  padding-left: 20px;
}

.timeline > div {
  margin: 0;
  padding: 0;
  margin-left: -34px;
  margin-bottom: .5em;
  line-height: 24px;
}
.timeline > div:last-child {
  margin-bottom: 0;
}

.timeline .timeline-icon {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: #428bca;
  color: #fff;
}

.timeline-icon.timeline-warning {
  border-color: #c09853;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  color: #c09853;
  line-height: 20px;
}
.timeline .timeline-icon.timeline-nobg {
  background-color: transparent;
}
.table-with-form-fields tbody tr td {
  line-height: 34px;
}
#vm-detail-panel .panel-body {
  min-height: 20em;
}

:link i:before:hover {
  text-decoration: none !important;
}

.slider {
    display: inline-block;
}
.slider .track {
    height: 20px;
    top: 50%;
}
.slider > .dragger, .slider > .dragger:hover {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 8px;
    height: 24px;
    margin-top: -12px!important;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    background-repeat: repeat-x;
    border-color: #2d6ca2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.slider > .dragger:hover {
    background-color: #3071a9;
    background-image: none;
    border-color: #2d6ca2;
}

.slider > .highlight-track {
    height: 20px;
    top: 50%;
}
.slider + .output {

}
.rule-table tr >:nth-child(1) {
    text-align: right;
}
.rule-table tr >:nth-child(2) {
    text-align: center;
}

.dashboard-index .panel {
    height: 300px;
}

#vm-details-rename, #vm-details-rename *, #vm-details-h1-name, #vm-list-rename, #vm-list-rename * {
  display: inline;
}

#vm-details-rename, #vm-list-rename {
  display: none;
}

#vm-details-rename-name {
  max-width: 160px;
}

#vm-list-rename-name {
  max-width: 100px;
}

.label-tag {
  /* pass */
}

#vm-details-tags-form {
  margin-top: 15px;
  max-width: 250px;
}

.vm-details-remove-tag {
  color: white;
  padding-left: 5px;
}

.vm-details-remove-tag:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* small buttons for tags, copied from Bootstraps input-sm, bnt-sm */
.btn-tags {
  padding: 3px 6px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-tags {
  height: 22px;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
/* --- */

.vm-details-remove-port:hover {
  text-decoration: none;
}

/* arrow in port add table */
#ipv4 tbody td:nth-child(2), #ipv6 tbody td:nth-child(2) {
  width: 60px;
}

/* port add buttons */
.vm-details-network-port-add .input-group-addon, .vm-details-network-port-add .input-group-btn {                         
  width: inherit ; 
}   
