/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px; /* sticky footer */
}

html {
  position: relative;
  min-height: 100%;
}

/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* values for 45px tall navbar */
.navbar {
  min-height: 45px;
}

.navbar-brand {
  height: 45px;
  padding: 12.5px 12.5px;
}

.navbar-toggle {
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

.navbar-form {
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

.navbar-btn {
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}

.navbar-btn.btn-sm {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.navbar-btn.btn-xs {
  margin-top: 11.5px;
  margin-bottom: 11.5px;
}
.navbar-text {
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}

/* --- */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Let the jumbotron breathe */
  .container > :first-child {
    margin-top: 20px;
  }
  /* Remove padding from wrapping element since we kick in the grid classes here */
  .body-content {
    padding: 0;
  }

  .navbar-nav > li > a {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

}
.no-margin {
  margin: 0!important;
}

.list-group .list-group-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.big {
  font-size: 2em;
}
.bigbig {
  font-size: 3em;
}

.timeline {
  border-left: 4px #428bca solid;
  margin-left: 20px;
  padding-left: 20px;
}

.timeline > div {
  margin: 0;
  padding: 0;
  margin-left: -34px;
  margin-bottom: .5em;
  line-height: 24px;
}
.timeline > div:last-child {
  margin-bottom: 0;
}

.timeline .timeline-icon {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: #428bca;
  color: #fff;
}

.timeline .activity-active .timeline-icon {
  background-color: black!important;
}

.timeline a {
  color: black;
}

.timeline-icon.timeline-warning {
  border-color: #c09853;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  color: #c09853;
  line-height: 20px;
}
.timeline .timeline-icon.timeline-nobg {
  background-color: transparent;
}

.sub-timeline {                                                           
}   

.sub-activity {
  margin-left: 30px;
  padding-left: 10px;
  border-left: 3px solid green;                                           
}

.sub-activity-active {
  border-left: 8px solid black;
}

.sub-activity-failed {
  border-left: 3px solid #d9534f;
}

.timeline-icon-failed {
  background-color: #d9534f !important;
}


.table-with-form-fields tbody tr td {
  line-height: 34px;
}
#vm-detail-panel .panel-body {
  min-height: 20em;
}

#node-detail-panel .panel-body {
  min-height: 20em;
}

#group-detail-panel .panel-body {
  min-height: 20em;
}

:link i:before:hover {
  text-decoration: none !important;
}

.slider {
    display: inline-block;
}
.slider .track {
    height: 20px;
    top: 50%;
}
.slider > .dragger, .slider > .dragger:hover {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 8px;
    height: 24px;
    margin-top: -12px!important;
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
    background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    background-repeat: repeat-x;
    border-color: #2d6ca2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.slider > .dragger:hover {
    background-color: #3071a9;
    background-image: none;
    border-color: #2d6ca2;
}

.slider > .highlight-track {
    height: 20px;
    top: 50%;
}
.slider + .output {

}
.rule-table tr >:nth-child(1) {
    text-align: right;
}
.rule-table tr >:nth-child(2) {
    text-align: center;
}

.dashboard-index .panel {
    height: 300px;
}

#vm-details-rename, #vm-details-h1-name, #vm-details-rename ,
#node-details-rename, #node-details-rename *, #node-details-h1-name, #node-list-rename, #node-list-rename *#group-details-rename, #group-details-rename *, #group-details-h1-name, #group-list-rename, #group-list-rename * {
 
  display: inline;
}

#vm-details-rename, #vm-list-rename, #node-details-rename, #node-list-rename, #group-details-rename, #group-list-rename {
  display: none;
}

.vm-details-home-name {
  max-width: 401px;
}

#node-details-rename-name, #group-details-rename-name {
  max-width: 160px;
}

#vm-list-rename-name, #node-list-rename-name, #group-list-rename-name {
  max-width: 100px;
}

.label-tag {
  /* pass */
}

#vm-details-tags-form, #node-details-traits-form {
  margin-top: 15px;
  max-width: 250px;
}

.vm-details-remove-tag, .node-details-remove-trait {
  color: white;
  padding-left: 5px;
}

.vm-details-remove-tag:hover, .node-details-remove-trait:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* small buttons for tags, copied from Bootstraps input-sm, bnt-sm */
.btn-tags, .btn-traits {
  padding: 3px 6px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

.input-tags, .input-tratis {
  height: 22px;
  padding: 2px 8px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
/* --- */

.vm-details-remove-port:hover {
  text-decoration: none;
}

/* arrow in port add table */
#ipv4 tbody td:nth-child(2), #ipv6 tbody td:nth-child(2) {
  width: 60px;
}

/* port add buttons */
.vm-details-network-port-add .input-group-addon, .vm-details-network-port-add .input-group-btn {                         
  width: inherit ; 
}

/* vm-create */
a.hover-black {
  color:white;
}

.hover-black:hover {
  color: black /*#d9534f*/;
  text-decoration: none;
}

.no-js-hidden {
  display: none;
}

#vm-create-network-addcheckbox-managed {
  -webkit-transform: scale(1.3, 1.3); margin-top: 4px;
}
/* --- */

.interval-input {
  margin-bottom: 20px;
  max-width: 600px;
}
.interval-input input {
  text-align: right;
}

/* vm details connection */
.vm-details-connection dd {
  padding: 4px 0 4px 0;
  margin-left: 160px;
}

.vm-details-connection dt {
  text-align: left;
  padding: 4px 0 4px 15px;
}

#vm-details-pw-confirm {
  margin-top: 10px;
  display: none;
}

#vm-details-pw-confirm dt {
  text-align: right;
}

.dashboard-vm-details-network-h3 {
  margin-top: 20px;
}

/* font awesome font */
.font-awesome-font {
  font-family: "FontAwesome";
}

.template-list-table tbody>tr>td, .template-list-table thead>tr>th,
.lease-list-table tbody>tr>td, .lease-list-table thead>tr>th {
  vertical-align: middle;
  text-align: center;
}

.template-list-table td:nth-child(1), .lease-list-table td:nth-child(1) {
  text-align: left;
}

.template-list-table-thin {
  width: 100px;
}


.nojs-dropdown-menu
{
  position:absolute;
  display:none;
  z-index: 1;
}


.nojs-dropdown-toggle:focus + .nojs-dropdown-menu
{
  display: block;
}

.nojs-dropdown-toggle:focus
{
  outline:none;
}

.nojs-dropdown-menu:hover
{
  display: block;
}

.notification-messages {
  padding: 10px 8px;
  width: 350px;
}

.notification-message {
  margin-bottom: 10px;
  padding: 0 0 4px 0;
  border-bottom: 1px dotted #D3D3D3;
}

.notification-messages .notification-message:last-child {
  margin-bottom: 0px;
  padding: 0px;
  border-bottom: none;
}

.notification-message-text {
  padding: 8px 15px;
  display: none;
}

.notification-message .notification-message-subject {
  cursor: pointer;
}

#vm-migrate-node-list {                                                   
  list-style: none;                                                       
}                                                                         
                                                                          
#vm-migrate-node-list li {                                                
  padding-bottom: 10px;                                                   
}

.vm-migrate-node-property {
  display: block;
  padding-left: 15px;
}

.vm-details-help {
  max-width: 700px;
  padding: 10px 10px 0px 10px;
  margin-left: 50px;
  /*  fancy stuff
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 8px; 
  */
}

.vm-details-help li {
  padding-bottom: 5px;
}

.vm-details-help ul {
  padding-left: 0px;
}


/* footer */
footer {                                                             
  position: absolute;                                               
  bottom: 0;                                                        
  width: 100%;                                                      
  /* Set the fixed height of the footer here */                     
  height: 30px;                                                     
  background-color: #101010;                                        
  color: white;                                                               
  font-size: 13px;                                                            
  padding: 5px 5px 0 5px;                                                     
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);                          
  text-align: center;                                                     
}
                                                                
footer a, footer a:hover, footer a:visited {                        
  color: white;                                                     
  text-decoration: underline;
}
  
.template-disk-list {
  list-style: none;
  padding-left: 0;
}

.template-disk-list li {
  padding-bottom: 5px;
}

#node-info-pane {
  margin-bottom: 20px;
}

.template-choose-list {
  max-width: 600px;
}

.template-choose-list-element small {
  display: none;
  float: right;
  padding-right: 50px;
}

.template-choose-list-element {
  padding: 6px 10px;
  cursor: pointer;
  margin-bottom: 15px; /* bootstrap panel default is 20px */
}

.template-choose-list input[type="radio"] {
  float: right;
}

/* template create vm help */
.alert-new-template {                                                       
  background: #3071a9;                                                      
  color: white;                                                             
  font-size: 22px;                                                          
}                                                                           
                                                                            
.alert-new-template ol {                                                    
  margin-left: 25px;
} 

/* bootstrap tour */
.tour-template {
  max-width: 400px;
  min-width: 270px;
  font-size: 16px;
}

.tour-template {
  text-align: justify;
}
.tour-template .popover-title {
  font-weight: bold;
}

#vm-details-resources-form {
  padding: 5px; /* it's nice this way in the tour */
}

.index-vm-list-name {
  display: inline-block; 
  max-width: 70%; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  float: left;
}

#dashboard-vm-list a small {
  padding-left: 10px;
}

.index-template-list-name {
  display: inline-block; 
  max-width: 50%; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  float: left;
}

#dashboard-template-list a small {
  max-width: 50%;
  float: left;
  padding-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}

#vm-details-home-description {
  display: inline-block; 
  position: relative;
}

#vm-details-home-description textarea {
  min-width: 240px;
  min-height: 250px;
}

.vm-details-home-edit-description-click, .vm-details-home-edit-name-click {
  cursor: pointer;
}

.vm-details-description-submit {
  position: absolute; 
  bottom: 10px; 
  right: 20px;
}

.vm-list-table th i {
  margin-top: 3px;
}

.table-sorting {
  display: none;
}

#ops {
  padding: 15px 0 15px 15px;
}

#vm-access-table th:last-child, #vm-access-table td:last-child,
#template-access-table th:last-child, #template-access-table td:last-child {
  text-align: center;
}

#notifications-button {
  margin: 0;
}

#dashboard-vm-list, #dashboard-node-list, #dashboard-group-list,
#dashboard-template-list {
  min-height: 204px;
}

#group-detail-user-table td:first-child, #group-detail-user-table th:last-child,
#group-detail-user-table td:last-child,
#group-detail-perm-table td:first-child, #group-detail-perm-table th:last-child,
#group-detail-perm-table td:last-child {
  text-align: center;
  width: 100px;
}

#group-detail-perm-header {
  margin-top: 25px;
}

textarea[name="list-new-namelist"] {
  max-width: 500px;
  min-height: 80px;
  margin-bottom: 10px;
}

/* 2px border bottom for all bootstrap tables */
.table thead>tr>th {
  border-bottom: 1px;
}

.badge-pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  30% { -webkit-transform: scale(1); }
  40% { -webkit-transform: scale(1.18); }
  50% { -webkit-transform: scale(1); }
  60% { -webkit-transform: scale(1); }
  70% { -webkit-transform: scale(1.08); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.btn-toolbar {
  margin-bottom: 5px;
}

#vm-console-screenshot {
  display: none;
}

/* vm list css */
.vm-list-selected, .vm-list-selected td {                                 
  background-color: #e8e8e8 !important;                                   
}                                                                         
                                                                          
.vm-list-selected:hover, .vm-list-selected:hover td {                     
  background-color: #d0d0d0 !important;                                   
}                                                                         
                                                                          
.vm-list-selected td:first-child {                                        
  font-weight: bold;                                                      
}                                                                         
                                                                          
.vm-list-table-thin {                                                     
  width: 10px;                                                            
}                                                                         
                                                                          
.vm-list-table-admin {                                                    
  width: 130px;                                                           
} 

#vm-details-connection-string-copy {
  cursor: pointer;
}

.dashboard-profile-vm-list, .dashboard-profile-group-list {
  list-style: none;
  padding-left: 28px;
}

.dashboard-profile-vm-list a, .dashboard-profile-vm-list a:hover {
  text-decoration: none;
  color: #555;
}

#group-detail-user-table td:nth-child(2) a,
#group-detail-perm-table td:nth-child(2) a, 
#template-access-table td:nth-child(2) a, 
#vm-access-table td:nth-child(2) a, 
.no-style-link, .no-style-link:hover {
  color: #555 !important;
  text-decoration: none;
}

#dashboard-profile-avatar {
  max-width: 200px;
}

#dashboard-vm-details-connect-command {
  /* for mobile view */
  margin-bottom: 20px;

}

#store-list-list {
  list-style: none;
}

.store-list-item {
  cursor: pointer;
}

.store-list-item:hover {
  background: rgba(0, 0, 0, 0.6);
}

.store-list-item-icon {
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}

.store-list-item-size {
  width: 70px;
  text-align: right;
  float: right;
}

.store-list-file-infos {
  padding: 15px;
  display: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
}

.store-list-item-new {
  display: inline-block;
}

.store-list-item-new .badge {
  margin-left: 5px;
  background: #5bc0dc;
}

.store-download-button {
  position: absolute; 
  right: 15px; 
  top: 18px;
}

.store-remove-button {
  position: absolute; 
  right: 15px; 
  top: 55px;
}

.store-list-item-icon-directory {
  color: #ff8c00;
}

#dashboard-files-toplist div.list-group-item {
  color: #555;
}

#dashboard-files-toplist div.list-group-item:hover {
  background: #eee;
}

.no-hover:hover {
  background: none !important;
}

#group-detail-permissions .filtered {
  margin: 2px 0;
  padding: 2px 3px;
  vertical-align: middle;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  border: 1px solid #ccc;
}

#group-detail-permissions .selector-available h2, 
#group-detail-permissions .selector-chosen h2 {
  margin: 0;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  background: #7CA0C7;
  color: white;
}

#group-detail-user-table {
  margin-top: 20px;
}

#group-detail-permissions input[type="submit"]{
  margin-top: -6px;  
}
