{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title-page %}{% trans "Password reset done" %}{% endblock %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="login-form-errors">
      {% include "display-form-errors.html" %}
    </div>
    <div class="col-sm-12">
      <div class="pull-right"><a href="{% url "accounts.login" %}">{% trans "Back to login" %}</a></div>
      {% trans "We have sent you an email about your next steps!" %}
    </div>
  </div>
</div>
{% endblock %}
