{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Password reset confirm" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="login-form-errors">
    {% include "display-form-errors.html" %}
  </div>
  <div class="col-sm-12">
    <div style="margin: 0 0 25px 0;">
      {% blocktrans %}Please enter your new password twice so we can verify you typed it in correctly!{% endblocktrans %}
    </div>

    {% if form %}
      {% crispy form %}
    {% else %}
      <div class="alert alert-warning">
        {% trans "This token is expired, please request a new password reset link again!" %}
        <a href="{% url "accounts.password-reset" %}">a</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
