p.rightbuttons
{
  float:right;
  margin:7px 0;
}

table p.help
{
  font-size:.85em;
  color:#666;
}

th.fieldset
{
  background-color:#000;
  background-image:url(hexabar.png);
  background-position:right center;
  background-repeat:no-repeat;
  border-radius:10px;
  color:#fff;
  font-weight:700;
  margin-bottom:5px;
  font-size:1.3em;
  border-style:none!important;
  padding:10px;
}

ul.messagelist
{
  text-align:left;
  margin:0;
  padding:0 0 5px;
}

ul.messagelist li
{
  font-size:12px;
  display:block;
  border-bottom:1px solid #ddd;
  color:#666;
  background:#ffc url(admin/img/icon_success.gif) 5px .3em no-repeat;
  margin:0 0 3px;
  padding:4px 5px 4px 25px;
}

ul.messagelist li.warning
{
  background-image:url(admin/img/icon_alert.gif);
}

ul.messagelist li.error
{
  background-image:url(admin/img/icon_error.gif);
}

.errornote
{
  font-size:12px!important;
  display:block;
  border:1px solid red;
  color:red;
  background:#ffc url(admin/img/icon_error.gif) 5px .3em no-repeat;
  margin:0 0 3px;
  padding:4px 5px 4px 25px;
}

.errorlist li
{
  font-size:12px!important;
  display:block;
  border:1px solid red;
  color:#FFF;
  background:red url(admin/img/icon_alert.gif) 5px .3em no-repeat;
  margin:0 0 3px;
  padding:4px 5px 4px 25px;
}

.errorlist li a
{
  color:#FFF;
  text-decoration:underline;
}

td ul.errorlist li
{
  margin:0!important;
}

.errors
{
  background:#ffc;
}

.errors input,.errors select,.errors textarea
{
  border:1px solid red;
}

div.system-message
{
  background:#ffc;
  font-size:.8em;
  margin:10px;
  padding:6px 8px;
}

div.system-message p.system-message-title
{
  color:red;
  background:#ffc url(admin/img/icon_error.gif) 5px .3em no-repeat;
  margin:0;
  padding:4px 5px 4px 25px;
}

.description
{
  font-size:12px;
  padding:5px 0 0 12px;
}

#state .content p
{
  text-align:center;
}

input.widebutton
{
  font-size:25px;
  line-height:1em;
  text-align:left;
  width:100%;
  display:block;
  cursor:pointer;
}

.icon-delete
{
  background-image:url(/static/icons/Edit-delete-2.png);
  background-repeat:no-repeat;
  padding-left:26px!important;
}

div#header a:link,div#header a:visited,div.box a:link,div.box a:visited
{
  color:#fff;
}

div#header h1 a,#project_running ul a:link,#project_running ul a:visited,#project_closed ul a:link,#project_closed ul a:visited
{
  color:#fff;
  text-decoration:none;
}

ul.errorlist,td ul.errorlist
{
  margin:0!important;
  padding:0!important;
}
