{% load i18n %}
{% load crispy_forms_tags %}

{% with form=form %}
  {% include "display-form-errors.html" %}
{% endwith %}

{% csrf_token %}
{{ form.type }}
<fieldset>
  <legend>{% trans "General settings" %}</legend>
  {{ form.name|as_crispy_field }}
  {{ form.path|as_crispy_field }}
  {{ form.hostname|as_crispy_field }}
</fieldset>
{% if form.type.value == "ceph_block" %}
<fieldset>
  <legend>{% trans "Ceph block storage authentication settings" %}</legend>
    {{ form.ceph_user|as_crispy_field }}
    {{ form.secret_uuid|as_crispy_field }}
</fieldset>
<fieldset>
  <legend>{% trans "Select or add new Ceph monitor hostname(s)" %}</legend>
  <a href="{% url "dashboard.views.storage-host-create" %}" class="btn btn-success data_store_host-create">
    <i class="fa fa-plus"></i>
    {% trans "new hostname" %}
  </a> 

  <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  {{ form.media }}
  <div id="group-detail-permissions">
  {{ form.hosts }}
  </div>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css" />
</fieldset>
{% endif %}

<style>
  fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  fieldset legend {
    font-weight: bold;
  }
  #group-detail-permissions {
    margin-top: 20px;
  }
</style>
