{% load i18n %}
{% load l10n %}

{# <span style="color: #FF0000;">[{{ record.r_type }}]</span> #}
{% if record.direction == "1" %}{{ record.foreign_network }}{% else %}{{ record.r_type }}{% endif %}
{#<span style="color: #0000FF;"> ▸ </span>#}                                
<i class="icon-arrow-right"></i>                                            
{% if record.direction == "0" %}{{ record.foreign_network }}{% else %}{{ record.r_type }}{% endif %}
{% if record.accept %}
<span class="label label-info" style="margin-left: 5px;">ACCEPT</span>
{% endif %}

{% if record.extra %}
    <span class="label label-default">{{ record.extra }}</span>
{% endif %}

{% if record.nat %}
    <span class="label label-success">NAT
        [ {{ record.dport }} <i class="icon-arrow-right"></i> {{record.nat_dport}} ]</span>
{% endif %}
