{% extends "box/base/entry.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<li class="entry" id="group-{{group.id}}">
    {{ block.super }}
</li>
{% endblock content %}

{% block summary %}
<div class="summary">
    <div class="name">
        {{ group.name }}
        <small class="details">(<a href="/group/show/{{group.id}}">{% trans "More details" %}</a>)</small>
    </div>
    <div class="actions">
        <a href="#" class="delete" data-id="{{group.id}}" data-name="{{group.name}}">
            <img src="/static/icons/minus-circle.png" alt="{% trans "Delete" %}" />
        </a>
        <a href="#" class="hide-group" data-id="{{group.id}}">
            <img src="/static/icons/eye-half.png" alt="{% trans "Hide" %}" />
        </a>
    </div>
    <div class="clear"></div>
</div>
{% endblock summary %}

{% block details %}
<ul>
    <li>
        {% trans "Course" %}:
        <span class="value">
            {% if group.course %}
            {{group.course.name}}
            {% else %}
            {% trans "Not assigned" %}
            {% endif %}
        </span>
    </li>
    <li>
        {% trans "Semester" %}:
        <span class="value">{{group.semester.name}}</span>
    </li>
    <li>
        {% trans "Owner(s)" %}:
        <span class="value">{{group.owner_list}}</span>
    </li>
    <li>
        {% trans "Member count" %}:
        <span class="value">{{group.member_count}}</span>
    </li>
    <li>
        &nbsp;
        <span class="value">
            <a href="/group/show/{{group.id}}">{% trans "More details" %}</a>
        </span>
    </li>
</ul>
{% endblock details %}
