{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block page_title %}{% trans "Page not found" %}{% endblock page_title %}

{% block content %}
<div class="alert alert-warning" style="font-size: 22px; margin-top: 2em;">
  <div class="row">
    <div class="col-md-2" style="text-align: center;">
      HTTP 404
    </div>
    <div class="col-md-10" style="text-align: center;">
      {% trans "This page does not exist." %}
    </div>
  </div>
</div>
{% endblock content %}
