{% load i18n %}
{% load crispy_forms_tags %}


<form id="datastore_endpoint_form" action="{% url "dashboard.views.storage-endpoint-create" %}" method="POST">
<div class="alert alert-danger" style="display: none;"  id="datastore_endpoint-create-alert">
</div>
{% with form=form %}
  {% include "display-form-errors.html" %}
{% endwith %}

{% csrf_token %}

<div class="row">
  <div class="col-xs-12">{{ form.name|as_crispy_field }}</div>
</div>
<div class="row">
  <div class="col-xs-9">
    {{ form.address|as_crispy_field }}
  </div>
  <div class="col-xs-3">
    {{ form.port|as_crispy_field }}
  </div>
</div>
<input type="submit" value="{% trans "Create new endpoint" %}" class="btn btn-success" id="datastore_endpoint_host-create-btn">
</form>


<style>
  fieldset {
    margin-top: 40px;
  }
  fieldset legend {
    font-weight: bold;
  }
</style>
