{% load i18n %}
{% load crispy_forms_tags %} 

{% if leases < 1 %}
  <div class="alert alert-warning">
    {% trans "You haven't created any leases yet, but you need one to create a template!" %}
    <a href="{% url "dashboard.views.lease-create" %}">{% trans "Create a new lease now." %}</a>
  </div>
{% endif %}

{% with form=form %}
  {% include "display-form-errors.html" %}
{% endwith %}
{% crispy form %}

<style>
  fieldset {
    margin-top: 40px;
  }
  fieldset legend {
    font-weight: bold;
  }
</style>
<script>
  $(function() {
    $("#hint_id_num_cores, #hint_id_priority, #hint_id_ram_size").hide();
  });
</script>
