{% load i18n %}
{% load sizefieldtags %}

<form method="POST" action="{% url "dashboard.views.vm-migrate" pk=vm %}">
  {% csrf_token %}
  <ul id="vm-migrate-node-list">
  {% for n in nodes %}
    <li>
      <strong>{{ n }}</strong>
      <input type="radio" name="node" value="{{ n.pk }}" style="float: right;"/> 
      <span class="vm-migrate-node-property">{% trans "CPU load" %}: {{ n.cpu_usage }}</span>
      <span class="vm-migrate-node-property">{% trans "RAM usage" %}: {{ n.byte_ram_usage|filesize }}/{{ n.ram_size|filesize }}</span>
      <div style="clear: both;"></div>  
    </li>
  {% endfor %}
  </ul>
  <button type="submit" class="btn btn-primary btn-sm"><i class="icon-truck"></i> Migrate</button>
</form>
