{% extends "base.html" %}
{% load i18n %}

{% block title-site %}Dashboard | CIRCLE{% endblock %}


{% block extra_link %}
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/loopj-jquery-simple-slider/css/simple-slider.css"/>
  <link href="{{ STATIC_URL }}dashboard/bootstrap-tour.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}dashboard/dashboard.css" rel="stylesheet">
{% endblock %}


{% block navbar-brand %}
  <a class="navbar-brand" href="{% url "dashboard.index" %}" style="padding: 10px 15px;">
    {% include "branding.html" %}
  </a>
{% endblock %}

{% block navbar %}
{% if user.is_authenticated and user.pk and not request.token_user %}
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown" id="notification-button">
      <a href="{% url "dashboard.views.notifications" %}" style="color: white; font-size: 12px;"
        class="dropdown-toggle" data-toggle="dropdown">
        {% trans "Notifications" %}
        {% if NEW_NOTIFICATIONS_COUNT > 0 %}
          <span class="badge badge-pulse">{{ NEW_NOTIFICATIONS_COUNT }}</span>
        {% endif %}
      </a>
      <ul class="dropdown-menu notification-messages">
          <li>{% trans "Loading..." %}</li>
      </ul>
    </li>
  </ul>

  <a class="navbar-brand pull-right" href="{% url "logout" %}?next={% url "login" %}" style="color: white; font-size: 10px;">
    <i class="fa fa-sign-out"></i> {% trans "Log out" %}
  </a>
  <a class="navbar-brand pull-right" href="{% url "dashboard.views.profile-preferences" %}" title="{% trans "User profile" %}" style="color: white; font-size: 10px;">
    <i class="fa fa-user"></i>
    {% include "dashboard/_display-name.html" with user=user show_org=True %}
  </a>

  {% if user.is_superuser %}
    <a class="navbar-brand pull-right" href="/network/" style="color: white; font-size: 10px;"><i class="fa fa-globe"></i> {% trans "Network" %}</a>
    <a class="navbar-brand pull-right" href="/admin/" style="color: white; font-size: 10px;"><i class="fa fa-cogs"></i> {% trans "Admin" %}</a>
  {% endif %}
{% else %}
  <a class="navbar-brand pull-right" href="{% url "login" %}?next={{ request.path }}" style="color: white; font-size: 10px;"><i class="fa fa-sign-in"></i> {% trans "Log in " %}</a>
{% endif %}

{% endblock %}


{% block extra_script %}
  <script src="{{ STATIC_URL }}dashboard/js/jquery.knob.js"></script>
  <script src="{{ STATIC_URL }}dashboard/dashboard.js"></script>
{% endblock %}
