{% load i18n %}<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% block title-page %}{% endblock %} | {% block title-site %}Circle{% endblock %}{% endblock %}</title>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}dashboard/js/jquery.knob.js"></script>
    <script src="{{ STATIC_URL}}dashboard/bootstrap-slider/bootstrap-slider.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/bootstrap-slider/slider.css"/>
    <link href="{{ STATIC_URL }}dashboard/dashboard.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}dashboard/node.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}dashboard/dashboard.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="/dashboard/">{% block header-site %}CIRCLE{% endblock %}</a>
      <!-- temporarily -->
      <a class="navbar-brand pull-right" href="/network/" style="color: white; font-size: 10px;">Network</a>
      <a class="navbar-brand pull-right" href="/admin/" style="color: white; font-size: 10px;">Admin</a>
      {% if user.is_authenticated %}
      <a class="navbar-brand pull-right" href="{% url "logout" %}?next={% url "login" %}" style="color: white; font-size: 10px;">Log out {{user}}</a>
      {% else %}
      <a class="navbar-brand pull-right" href="{% url "login" %}?next={% url "dashboard.index" %}" style="color: white; font-size: 10px;">Login</a>
      {% endif %}
    </div>

    <div class="container">
      {% block messages %}
      <div class="messagelist">
      {% if messages %}
      {% for message in messages %}
      <div class="alert
          {% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      </div>
      {% endblock messages %}
      {% block content %}
        <h1 class="alert alert-error">Please override "content" block.</h1>
      {% endblock %}
      <hr />
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->
  </body>
{% block extra_js %}
{% endblock %}
</html>
