{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="body-content">
  <div class="page-header">
    <div class="pull-right" style="padding-top: 15px;">
      <a title="{% trans "Rename" %}" href="#" class="btn btn-default btn-xs group-details-rename-button"><i class="icon-pencil"></i></a>
      <a title="{% trans "Delete" %}" data-group-pk="{{ group.pk }}" class="btn btn-default btn-xs real-link group-delete" href="{% url "dashboard.views.delete-group" pk=group.pk %}"><i class="icon-trash"></i></a>
      <a title="{% trans "Help" %}" href="#" class="btn btn-default btn-xs group-details-help-button"><i class="icon-question"></i></a>
    </div>
   <h1>
      <div id="group-details-rename">
        <form action="" method="POST" id="group-details-rename-form">
          {% csrf_token %}
          <input id="group-details-rename-name" class="form-control" name="new_name" type="text" value="{{ group.name }}"/> 
          <button type="submit" id="group-details-rename-submit" class="btn">{% trans "Rename" %}</button>
        </form>
      </div>
      <div id="group-details-h1-name">
        {{ group.name }} 
        {% if group.groupprofile.org_id %}
        <small>{{group.groupprofile.org_id}}</small>
        {% endif %}
      </div>
    </h1>
    <div class="group-details-help js-hidden">
      <ul style="list-style: none;">
        <li>
          <strong>{% trans "Rename" %}:</strong>
          {% trans "Change the name of the group." %}
        </li>
        <li>
          <strong>{% trans "Delete" %}:</strong>
          {% trans "Delete group." %}
        </li>
      </ul>
    </div>
 </div>
  <div class="row">
    <div class="col-md-12" id="group-detail-pane">
      <div class="panel panel-default" id="group-detail-panel">
        <div class="tab-content panel-body" id="group-form-body">

          <form method="POST" action="{% url "dashboard.views.group-update" pk=group.pk %}">
{% csrf_token %}
{% crispy group_profile_form %}
</form>

          <h3>{% trans "User list"|capfirst %}</h3>
<form action="" method="post">{% csrf_token %}
<table class="table table-striped table-with-form-fields table-bordered" id="group-detail-user-table">
    <tbody>
    {% if perms.auth.add_user %}
	    <p class="pull-right">
	    <a href="{% url "dashboard.views.create-user" group.pk %}" class="btn btn-success">{% trans "Create user" %}</a>
	    </p>
    {% endif %}
      <thead><tr><th></th><th>{% trans "Who" %}</th><th>{% trans "Remove" %}</th></tr></thead>
        {% for i in users %}
	  <tr>
            <td><i class="icon-user"></i></td><td>{{i.username}}</td>
	    <td>
              <a data-group_pk="{{ group.pk }}" data-member_pk="{{i.pk}}" href="{% url "dashboard.views.remove-user" member_pk=i.pk group_pk=group.pk %}" class="real-link delete-from-group btn btn-link btn-xs"><i class="icon-remove"><span class="sr-only">{% trans "remove" %}</span></i></a>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td><i class="icon-plus"></i></td>
          <td colspan="2">
            <input type="text" class="form-control" name="list-new-name"placeholder="{% trans "Name of user" %}">
          </td>
        </tr>
  </tbody>
  </table>
  <textarea name="list-new-namelist" class="form-control" 
    placeholder="{% trans "List of usernames (one per line)." %}"></textarea>
  <div class="form-actions">
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
  </div>
  </form>


<h3 id="group-detail-perm-header">{% trans "Permissions"|capfirst %}</h3>
  <form action="{{acl.url}}" method="post">{% csrf_token %}
  <table class="table table-striped table-with-form-fields table-bordered" id="group-detail-perm-table">
    <thead>
      <tr>
        <th></th><th>{% trans "Who" %}</th><th>{% trans "What" %}</th><th>{% trans "Remove" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for i in acl.users %}
    <tr>
      <td><i class="icon-user"></i></td><td>{{i.user}}</td>
      <td>
        <select class="form-control" name="perm-u-{{i.user.id}}">
        {% for id, name in acl.levels %}
          <option{%if id = i.level%} selected="selected"{%endif%} value="{{id}}">{{name}}</option>
        {% endfor %}
        </select>
      </td>
      <td class="user-remove"><a data-group_pk="{{ group.pk }}" data-member_pk="{{i.user.pk }}" href="{% url "dashboard.views.remove-acluser" member_pk=i.user.pk group_pk=group.pk %}" class="real-link delete-from-group btn btn-link btn-xs"><i class="icon-remove"><span class="sr-only">{% trans "remove" %}</span></i></a></td>
    </tr>
    {% endfor %}
    
    {% for i in acl.groups %}
      <tr>
        <td><i class="icon-group"></i></td><td>{{ i.group }}</td>
        <td>
          <select class="form-control" name="perm-g-{{ i.group.pk }}">
          {% for id, name in acl.levels %}
            <option{%if id = i.level%} selected="selected"{%endif%} value="{{id}}">{{name}}</option>
          {% endfor %}
          </select>
        </td>
        <td class="user-remove"><a data-group_pk="{{ i.pk }}"data-member_pk="{{i.group.pk }}" href="{% url "dashboard.views.remove-aclgroup" member_pk=i.group.pk group_pk=group.pk %}" class="real-link delete-from-group btn btn-link btn-xs"><i class="icon-remove"><span class="sr-only">{% trans "remove" %}</span></i></a>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td><i class="icon-plus"></i></td>
        <td>
          <input type="text" class="form-control" name="perm-new-name"
          placeholder="{% trans "Name of group or user" %}">
        </td>
        <td>
          <select class="form-control" name="perm-new">
            {% for id, name in acl.levels %}
              <option value="{{id}}">{{name}}</option>
            {% endfor %}
          </select>
        </td>
        <td></td>
      </tr>
  </tbody>
  </table>

  <div class="form-actions">
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
  </div>
  </form>


	</div>
     </div>
    </div>
  </div>
</div>
<script src="{{ STATIC_URL}}dashboard/group-details.js"></script>
{% endblock %}
