{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right toolbar">
      <div class="btn-group">
        <a href="#vm-graph-view" class="btn btn-default btn-xs"><i class="icon-dashboard"></i></a>
        <a href="#vm-list-view" class="btn btn-default btn-xs"><i class="icon-list"></i></a>
      </div>
      <span class="btn btn-default btn-xs infobtn" title="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  "><i class="icon-info-sign"></i></span>
    </div>
    <h3 class="no-margin">
      <i class="icon-desktop"></i> Virtual machines
    </h3>
  </div>
  <div class="list-group" id="vm-list-view">
    {% for i in instances %}
    <a href="{{ i.get_absolute_url }}" class="list-group-item">
	      <i class="icon-play-sign"></i> {{ i.name }} <div class="pull-right"><i class="icon-star text-primary" title="Mark as favorite."></i></div>
      </a>
    {% endfor %}
    <div href="#" class="list-group-item list-group-footer">
      <div class="row">
        <div class="col-sm-6 input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Search..." />
          <div class="input-group-btn">
            <button type="submit" class="form-control btn btn-primary" title="search"><i class="icon-search"></i></button>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          {% if more_instances > 0 %}
          <a class="btn btn-primary btn-xs" href="{% url "dashboard.views.vm-list" %}">
            <i class="icon-chevron-sign-right"></i> <strong>{{ more_instances }}</strong>  more  
          </a>
          {% endif %}
          <a class="btn btn-success btn-xs"><i class="icon-plus-sign"></i> new </a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" id="vm-graph-view" style="display: none">
    <p class="pull-right">  <input class="knob" data-fgColor="chartreuse" data-thickness=".4" data-width="100" data-height="100" data-readOnly="true" value="22"></p>
    <p><span class="bigbig"><big>13</big> running </span>
      <ul class="list-inline">
        <li class="label label-success"><i class="icon-play-sign"></i> szilva</li>
        <li class="label label-success"><i class="icon-play-sign"></i> korte</li>
        <li class="label label-success"><i class="icon-play-sign"></i> cseresznye</li>
      </ul>
    </p>
    <p class="big text-warning"><big>10</big> stopped</p>
    <p>Total: $3000 </p>

    <div class="clearfix"></div>
    <div class="text-right">
      <a class="btn btn-primary btn-xs"><i class="icon-chevron-sign-right"></i> <strong>13</strong>  more  </a> 
    </div>
  </div>
</div>
