{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="btn btn-default btn-xs infobtn pull-right" title="Halp">
      <i class="icon-info-sign"></i>
    </span>
    <h3 class="no-margin"><i class="icon-puzzle-piece"></i> Templates
    </h3>
  </div>
  <div class="list-group" id="vm-list-view">
    {% for t in templates %}
    <a href="{% url "dashboard.views.template-detail" pk=t.pk %}" class="list-group-item">
      <i class="icon-{{ t.os_type }}"></i> {{ t.name }} <small class="text-muted">{{ t.system }}</small>
      <div class="pull-right vm-create" data-template="{{ t.pk }}"><i title="{% trans "Start vm instance" %}" class="icon-play"></i></div>
    </a>
    {% endfor %}
    <div href="#" class="list-group-item list-group-footer text-right">
      <p>
        <a href="{% url "dashboard.views.template-list" %}" class="btn btn-primary btn-xs"><i class="icon-chevron-sign-right"></i> show all  </a>
        <a href="{% url "dashboard.views.template-create" %}" class="btn btn-success btn-xs"><i class="icon-plus-sign"></i> new </a>
      </p>
    </div>
  </div>
</div>
