{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title-page %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="body-content dashboard-index">
  <div class="row">

    <div class="col-lg-4 col-md-6">
      {% include "dashboard/index-vm.html" %}
    </div>

    <div class="col-lg-4 col-md-6">
      {% include "dashboard/index-groups.html" %}
    </div>

    <div class="col-lg-4 col-md-6">
      {% include "dashboard/index-files.html" %}
    </div>

    <div class="col-lg-4 col-md-6">
      {% include "dashboard/index-templates.html" %}
    </div>

    <div class="col-lg-4 col-md-6">
      {% include "dashboard/index-nodes.html" %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}dashboard/vm-create.js"></script>   
{% endblock %}
