{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title-page %}{% trans "Dashboard" %}{% endblock %}

{% block navbar-ul %}
  <li class="dropdown" id="notification-button">
    <a href="{% url "dashboard.views.notifications" %}" style="color: white; font-size: 12px;" class="dropdown-toggle" data-toggle="dropdown">
      Notifications{% if new_notifications %} <span class="badge">{{ new_notifications }}</span>{% endif %}
    </a>
    <ul class="dropdown-menu notification-messages">
        <li>{% trans "Loading..." %}</li>
    </ul>
  </li>
{% endblock %}

{% block content %}
<div class="body-content dashboard-index">
  <div class="row">

    {% if perms.vm %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-vm.html" %}
    </div>
    {% endif %}

    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-groups.html" %}
    </div>

    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-files.html" %}
    </div>

    {% if perms.vm.create_template %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-templates.html" %}
    </div>
    {% endif %}

    {% if user.is_superuser %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-nodes.html" %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}dashboard/vm-create.js"></script>
<script src="{{ STATIC_URL }}dashboard/node-create.js"></script>   
{% endblock %}
