{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title-page %}{% trans "Index" %}{% endblock %}

{% block extra_link_2 %}
<link rel="search"
  type="application/opensearchdescription+xml"
  href="{% url "dashboard.views.vm-opensearch" %}"
  title="{% blocktrans with name=COMPANY_NAME %}{{name}} virtual machines{% endblocktrans %}" />
{% endblock %}

{% block content %}
<div class="body-content dashboard-index">
  <div class="row">

    {% if perms.vm %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-vm.html" %}
    </div>
    {% else %}
      <div class="alert alert-info">
        {% trans "You have no permission to start or manage virtual machines." %}
      </div>
    {% endif %}

    {% if perms.auth %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-groups.html" %}
    </div>
    {% endif %}

    {% if not no_store %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/store/index-files.html" %}
    </div>
    {% endif %}

    {% if perms.vm.create_template %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-templates.html" %}
    </div>
    {% endif %}

    {% if perms.setty.add_service %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-setty.html" %}
    </div>
    {% endif %}

    {% if perms.vm.view_statistics %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-nodes.html" %}
    </div>
    {% endif %}

    {% if perms.auth.change_user %}
    <div class="col-lg-4 col-sm-6">
      {% include "dashboard/index-users.html" %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
