{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="btn btn-default btn-xs infobtn pull-right" title="{% trans "Help" %}">
      <i class="icon-info-sign"></i>
    </span>
    <h3 class="no-margin"><i class="icon-puzzle-piece"></i> {% trans "Templates" %}
    </h3>
  </div>
  <div class="list-group" id="dashboard-template-list">
    <div id="dashboard-template-list">
      {% for t in templates %}
      <a href="{% url "dashboard.views.template-detail" pk=t.pk %}" class="list-group-item
        {% if forloop.last and nodes|length < 5 %} list-group-item-last{% endif %}">
        <span class="index-template-list-name">
          <i class="icon-{{ t.os_type }}"></i> {{ t.name }} 
        </span>
        <small class="text-muted index-template-list-system">{{ t.system }}</small>
        <div class="pull-right vm-create" data-template="{{ t.pk }}"><i title="{% trans "Start vm instance" %}" class="icon-play"></i></div>
        <div class="clearfix"></div>
      </a>
      {% empty %}
        <div class="alert alert-warning" style="margin: 10px;">
          <p>
            {% trans "You don't have any templates, however you can still start virtual machines and even save them as new templates!" %}
          </p>
        </div>
      {% endfor %}
    </div>
    <div href="#" class="list-group-item list-group-footer text-right">
      <p>
        <a href="{% url "dashboard.views.template-list" %}" class="btn btn-primary btn-xs">
          <i class="icon-chevron-sign-right"></i> {% trans "show all" %}
        </a>
        <a href="{% url "dashboard.views.template-choose" %}" class="btn btn-success btn-xs template-choose">
          <i class="icon-plus-sign"></i> {% trans "new" %}
        </a>
      </p>
    </div>
  </div>
</div>
