<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline pull-right">
      <li><a href="#vm-graph-view" class="btn btn-default btn-xs"><i class="icon-dashboard"></i></a></li>
      <li><a href="#vm-list-view" class="btn btn-default btn-xs"><i class="icon-list"></i></a></li>
    </ul>
    <h3 class="no-margin"><i class="icon-group"></i> Groups
    </h3>
  </div>
  <div class="list-group" id="vm-list-view">
     {% for i in groups %}
    <a href="#" class="list-group-item">
	    <i class="icon-file"></i> {{ i.name }}<div class="pull-right"><i class="icon-download-alt "></i></div>
    </a>
   {% endfor %}
    <div href="#" class="list-group-item list-group-footer text-right">
      <div class="row">
        <div class="col-sm-6 col-xs-6 input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Search..." />
          <div class="input-group-btn">
            <button type="submit" class="form-control btn btn-primary" title="search"><i class="icon-search"></i></button>
          </div>
        </div>
        <div class="col-sm-6 text-right">
	  {% if more_groups >= 0 %}
          <a class="btn btn-primary btn-xs" href="{% url "dashboard.views.group-list" %}">
            <i class="icon-chevron-sign-right"></i> <strong>{{ more_groups }}</strong>  more  
          </a>
	  {% endif %}
          <a class="btn btn-success btn-xs group-create" href="#"><i class="icon-upload-alt"></i> upload </a>
        </div>
      </div>
    </div>
  </div>
</div>
