{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right toolbar">
      <span class="btn btn-default btn-xs infobtn" title="{% trans "Help" %}"><i class="icon-info-sign"></i></span>
    </div> 
    <h3 class="no-margin"><i class="icon-group"></i> Groups</h3>
  </div>
  <div class="list-group" id="vm-list-view">
    {% for i in groups %}
      <a href="{% url "dashboard.views.group-detail" pk=i.pk %}" class="list-group-item real-link">
        <i class="icon-group"></i> {{ i.name }}
      </a>
    {% endfor %}
    <div href="#" class="list-group-item list-group-footer text-right">
      <div class="row">
        <div class="col-sm-6 col-xs-6 input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Search..." />
          <div class="input-group-btn">
            <button type="submit" class="form-control btn btn-primary" title="search"><i class="icon-search"></i></button>
          </div>
        </div>
        <div class="col-sm-6 text-right">
	  {% if more_groups >= 0 %}
          <a class="btn btn-primary btn-xs" href="{% url "dashboard.views.group-list" %}">
            <i class="icon-chevron-sign-right"></i> <strong>{{ more_groups }}</strong>  more  
          </a>
	  {% endif %}
          <a class="btn btn-success btn-xs group-create" href="{% url "dashboard.views.group-create" %}"><i class="icon-upload-alt"></i> upload </a>
        </div>
      </div>
    </div>
  </div>
</div>
