{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}
<div class="body-content">
  <div class="page-header">
    <h1>
        {{ object.instance.name }}:
            {% if user.is_superuser %}
            {{object.readable_name.get_admin_text}}
            {% else %}
            {{object.readable_name.get_user_text}}
            {% endif %}
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4" id="vm-info-pane">
      <div class="big">
        <span id="vm-activity-state" class="label label-{% if object.get_status_id == 'wait' %}info{% else %}{% if object.succeeded %}success{% else %}error{% endif %}{% endif %}">
          <span>{{ object.get_status_id|upper }}</span>
        </span>
      </div>

      {% include "dashboard/vm-detail/_activity-timeline.html" with active=object %}

    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <!--<div class="panel-heading"><h2 class="panel-title">{% trans "Activity" %}</h2></div> -->
        <div class="panel-body">
          <dl>
            <dt>{% trans "activity code" %}</dt>
            <dd>{{object.activity_code}}</dd>

            <dt>{% trans "instance" %}</dt>
            <dd><a href="{{object.instance.get_absolute_url}}">{{object.instance}}</a></dd>

            <dt>{% trans "time" %}</dt>
            <dd>{{object.started|default:'n/a'}} → {{object.finished|default:'n/a'}}</dd>

            <dt>{% trans "user" %}</dt>
            <dd>{{object.user|default:'(system)'}}</dd>

            <dt>{% trans "type" %}</dt>
            <dd>
            {% if object.parent %}
              {% blocktrans with url=object.parent.get_absolute_url name=object.parent %}
                subactivity of <a href="{{url}}">{{name}}</a>
              {% endblocktrans %}
            {% else %}{% trans "top level activity" %}{% endif %}
            </dd>

            <dt>{% trans "task uuid" %}</dt>
            <dd>{{ object.task_uuid|default:'n/a' }}</dd>

            <dt>{% trans "status" %}</dt>
            <dd>{{ object.get_status_id }}</dd>


            <dt>{% trans "result" %}</dt>
            <dd><textarea class="form-control">{% if user.is_superuser %}{{object.result.get_admin_text}}{% else %}{{object.result.get_admin_text}}{% endif %}</textarea></dd>

            <dt>{% trans "resultant state" %}</dt>
            <dd>{{object.resultant_state|default:'n/a'}}</dd>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
