<div class="row">
  <div class="col-md-4">
    <dl>
      <dt>System:</dt>
      <dd><i class="icon-linux"></i> Uhu Binux Optikai Rendszer</dd>
      <dt>Description:</dt>
      <dd><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc est libero, hendrerit at posuere sed, molestie congue quam. </small></dd>
    </dl>
  </div>
  <div class="col-md-8">
<img src="/static/grafikon.png" style="width:45%"/>
<img src="/static/grafikon.png" style="width:45%"/>
<img src="/static/grafikon.png" style="width:45%"/>
<img src="/static/grafikon.png" style="width:45%"/>
  </div>
</div>
