{% extends "dashboard/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title-page %}{% trans "Nodes" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin"><i class="icon-desktop"></i> {% trans "Compute nodes" %}</h3>
      </div>
	<div id="table_container">
	
        <div id="rendered_table" class="panel-body">
	      {% render_table table %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .popover {
    max-width: 600px;
  }

  .node-list-selected, .node-list-selected td {
    background-color: #e8e8e8 !important;
  }

  .node-list-selected:hover, .node-list-selected:hover td {
    background-color: #d0d0d0 !important;
  }

  .node-list-selected td:first-child {
    font-weight: bold;
  }

  .node-list-table-thin {
    width: 10px;
  }

  .node-list-table-admin {
    width: 130px;
  }
</style>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL}}dashboard/node-list.js"></script>
{% endblock %}
