{% extends "dashboard/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="alert alert-info">
  Tip #1: you can select multiple vm instances while holding down the <strong>CTRL</strong> key!
</div>

<div class="alert alert-info">
  Tip #2: if you want to select multiple instances by one click select an instance then hold down <strong>SHIFT</strong> key and select another one!
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin"><i class="icon-desktop"></i> Your nodes</h3>
      </div>
      <div class="panel-body node-list-group-control">
        <p>
          <strong>Group actions</strong>
          <button id="node-list-group-select-all" class="btn btn-info btn-xs">Select all</button>
          <a class="btn btn-default btn-xs" id="node-list-group-migrate" disabled><i class="icon-truck"></i> Migrate</a>
          <a disabled href="#" class="btn btn-default btn-xs"><i class="icon-refresh"></i> Reboot</a>
          <a disabled href="#" class="btn btn-default btn-xs"><i class="icon-off"></i> Shutdown</a>
          <a id="node-list-group-delete" disabled href="#" class="btn btn-danger btn-xs"><i class="icon-remove"></i> Discard</a>
        </p>
	</div>
	<div id="table_container">
	
        <div id="rendered_table" class="panel-body">
	      {% render_table table %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>

  .node-list-table tbody>tr>td {
    vertical-align: middle;
  }

  .popover {
    max-width: 600px;
  }

  .node-list-selected, .node-list-selected td {
    background-color: #e8e8e8 !important;
  }

  .node-list-selected:hover, .node-list-selected:hover td {
    background-color: #d0d0d0 !important;
  }

  .node-list-selected td:first-child {
    font-weight: bold;
  }

  .node-list-table-thin {
    width: 10px;
  }

  .node-list-table-monitor {
    width: 200px;
  }
</style>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL}}dashboard/node-list.js"></script>
{% endblock %}
