{% extends "dashboard/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title-page %}{% trans "Nodes" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin"><i class="fa fa-desktop"></i> {% trans "Compute nodes" %}</h3>
      </div>
      <div id="table_container">
        <div id="rendered_table" class="panel-body">
          {% render_table table %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin"><i class="fa fa-area-chart"></i> {% trans "Graphs" %}</h3>
      </div>
      <div class="text-center">
        <img src="{% url "dashboard.views.node-list-graph" "alloc" "6h" %}"/>
        <img src="{% url "dashboard.views.node-list-graph" "vm" "6h" %}"/>
      </div>
    </div>
  </div><!-- -col-md-12 -->
</div><!-- .row -->

<style>
  .node-list-table tbody>tr>td, .node-list-table thead>tr>th {
    vertical-align: middle;
  }

  .node-list-table thead>tr>th, 
  .node-list-table .enabled, .node-list-table .priority, 
  .node-list-table .overcommit, .node-list-table .number_of_VMs {
    text-align: center;
  }

  .node-list-table-thin {
    width: 10px;
  }

  .node-list-table-monitor {
    width: 250px;
  }
</style>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL}}dashboard/node-list.js"></script>
{% endblock %}
