{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}
<div class="body-content">
  <div class="page-header">
    <h1>{{ node.name }} <small>{{ node.get_connect_host }}</small></h1>
  </div>
  <div class="row">
    <div class="col-md-4" id="node-info-pane">
      <div class="big">
	      <span class="label {% if node.state == 'online' %}label-success
			{% elif node.state == 'missing' %}label-danger
			{% elif node.state == 'disabled' %}label-warning
			{% elif node.state == 'offline' %}label-warning
			{% endif %}">{{ node.state }}</span>
		<div class="btn-group">
			{% with node as record %}
				{% include "dashboard/node-list/column-actions.html" with btn_size="" %}
			{% endwith %}
		</div>
      </div>
    </div>
    <div class="col-md-8" id="node-detail-pane">
      <div class="panel panel-default" id="node-detail-panel">
        <ul class="nav nav-pills panel-heading">
          <li class="active">
            <a href="#home" data-toggle="pill" class="text-center">
              <i class="icon-compass icon-2x"></i><br>
              {% trans "Home" %}</a></li>
          <li>
            <a href="#resources" data-toggle="pill" class="text-center">
              <i class="icon-tasks icon-2x"></i><br>
              {% trans "Resources" %}</a></li>
	  <li>
            <a href="#virtualmachines" data-toggle="pill" class="text-center">
              <i class="icon-desktop icon-2x"></i><br>
              {% trans "Virtual Machines" %}</a></li>
 	  <li>
            <a href="#activity" data-toggle="pill" class="text-center">
              <i class="icon-time icon-2x"></i><br>
              {% trans "Activity" %}</a></li>
	</ul>

        <div class="tab-content panel-body">
          <div class="tab-pane active" id="home">{% include "dashboard/node-detail-home.html" %}</div>
          <div class="tab-pane" id="resources">{% include "dashboard/node-detail-resources.html" %}</div>
          <div class="tab-pane" id="activity">{% include "dashboard/node-detail-activity.html" %}</div>
          <div class="tab-pane" id="virtualmachines">{% include "dashboard/node-detail-vm.html" %}</div>
  	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL}}dashboard/node-list.js"></script>
{% endblock %}

