{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content %}
<div class="body-content">
  <div class="page-header">
     <div class="pull-right" style="padding-top: 15px;">
      <a title="{% trans "Rename" %}" href="#" class="btn btn-default btn-xs node-details-rename-button"><i class="icon-pencil"></i></a>
      <a title="{% trans "Flush" %}" data-node-pk="{{ node.pk }}" class="btn btn-default btn-xs real-link node-flush" href="{% url "dashboard.views.flush-node" pk=node.pk %}"><i class="icon-cloud-upload"></i></a>
      <a title="{% trans "Enable" %}" style="display:{% if node.enabled %}none{% else %}inline-block{% endif %}" data-node-pk="{{ node.pk }}" class="btn btn-default btn-xs real-link node-enable" href="{% url "dashboard.views.status-node" pk=node.pk %}?next={{ request.path }}"><i class="icon-check"></i></a>
      <a title="{% trans "Disable" %}" style="display:{% if not node.enabled %}none{% else %}inline-block{% endif %}" data-node-pk="{{ node.pk }}" class="btn btn-default btn-xs real-link node-enable" href="{% url "dashboard.views.status-node" pk=node.pk %}?next={{ request.path }}"><i class="icon-ban-circle"></i></a>
      <a title="{% trans "Delete" %}" data-node-pk="{{ node.pk }}" class="btn btn-default btn-xs real-link node-delete" href="{% url "dashboard.views.delete-node" pk=node.pk %}"><i class="icon-trash"></i></a>
      <a title="{% trans "Help" %}" href="#" class="btn btn-default btn-xs node-details-help-button"><i class="icon-question"></i></a>
    </div>
   <h1>	  
      <div id="node-details-rename">
       <form action="" method="POST" id="node-details-rename-form">
         {% csrf_token %}
         <input id="node-details-rename-name" class="form-control" name="new_name" type="text" value="{{ node.name }}"/> 
         <button type="submit" id="node-details-rename-submit" class="btn">{% trans "Rename" %}</button>
       </form>
      </div>
      <div id="node-details-h1-name">    
      {{ node.name }} 
      </div>
    </h1>
    <div class="node-details-help js-hidden">
      <ul style="list-style: none;">
        <li>
          <strong>{% trans "Rename" %}:</strong>
          {% trans "Change the name of the node." %}
        </li>
        <li>
          <strong>{% trans "Flush" %}:</strong>
          {% trans "Disable node and move all instances to other ones." %}
        </li>
        <li>
          <strong>{% trans "Enable" %}:</strong>
          {% trans "Enables node." %}
        </li>
        <li>
          <strong>{% trans "Disable" %}:</strong>
          {% trans "Disables node." %}
        </li>
        <li>
          <strong>{% trans "Delete" %}:</strong>
          {% trans "Remove node and its host." %}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" id="node-info-pane">
      <div id="node-info-data" class="big">
      <span id="node-details-state" class="label {% if node.state == 'ONLINE' %}label-success
			{% elif node.state == 'MISSING' %}label-danger
			{% elif node.state == 'DISABLED' %}label-warning
			{% elif node.state == 'OFFLINE' %}label-warning
			{% endif %}">{{ node.get_status_display|upper }}</span>
      </div>
    </div>
    <div class="col-md-10" id="node-detail-pane">
      <div class="panel panel-default" id="node-detail-panel">
        <ul class="nav nav-pills panel-heading">
          <li class="active">
            <a href="#home" data-toggle="pill" class="text-center">
              <i class="icon-compass icon-2x"></i><br>
              {% trans "Home" %}</a></li>
          <li>
            <a href="#resources" data-toggle="pill" class="text-center">
              <i class="icon-tasks icon-2x"></i><br>
              {% trans "Resources" %}</a></li>
	  <li>
            <a href="#virtualmachines" data-toggle="pill" class="text-center">
              <i class="icon-desktop icon-2x"></i><br>
              {% trans "Virtual Machines" %}</a></li>
 	  <li>
            <a href="#activity" data-toggle="pill" class="text-center">
              <i class="icon-time icon-2x"></i><br>
              {% trans "Activity" %}</a></li>
	</ul>

        <div id="panel-body"  class="tab-content panel-body">
          <div class="tab-pane active" id="home">{% include "dashboard/node-detail/home.html" %}</div>
	  <div class="tab-pane" id="resources">{% include "dashboard/node-detail/resources.html" %}</div>
          <div class="tab-pane" id="activity">{% include "dashboard/node-detail/activity.html" %}</div>
          <div class="tab-pane" id="virtualmachines">{% include "dashboard/node-detail/vm.html" %}</div>
  	</div>
      </div>
    </div>
  </div>
</div>
<style>
  .popover {
    max-width: 600px;
  }
</style>

{% endblock %}
{% block extra_js %}
<script src="{{ STATIC_URL}}dashboard/node-details.js"></script>
{% endblock %}

