{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title-page %}{% trans "Data stores" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url "dashboard.views.storage-choose" %}" class="pull-right btn btn-success btn-xs storage-choose">
          <i class="fa fa-plus"></i> {% trans "new data store" %}
        </a>
        <h3 class="no-margin"><i class="fa fa-database"></i> {% trans "Data stores" %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-offset-8 col-md-4" id="storage-list-search">
            <form action="" method="GET">
              <div class="input-group">
                {{ search_form.s }}
                <div class="input-group-btn">
                  {{ search_form.stype }}
                  <button type="submit" class="btn btn-primary input-tags">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div><!-- .input-group -->
            </form>
          </div><!-- .col-md-4 #storage-list-search -->
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          {% render_table table %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
