{% extends "dashboard/base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title-page %}{% trans "Templates" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="{% url "dashboard.views.template-create" %}" class="pull-right btn btn-success btn-xs">
          <i class="icon-plus"></i> {% trans "new base vm" %}
        </a>
        <h3 class="no-margin"><i class="icon-puzzle-piece"></i> {% trans "Templates" %}</h3>
      </div>
      <div class="panel-body">
        {% render_table table %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if perms.vm.create_leases %}
        <a href="{% url "dashboard.views.lease-create" %}" class="pull-right btn btn-success btn-xs" style="margin-right: 10px;">
          <i class="icon-plus"></i> {% trans "new lease" %}
        </a>
        {% endif %}
        <h3 class="no-margin"><i class="icon-time"></i> {% trans "Leases" %}</h3>
      </div>
      <div class="panel-body">
        <div class="" style="max-width: 600px;">
          {% render_table lease_table %}
        </div>
      </div>
    </div>
  </div>

  {% comment %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="no-margin"><i class="icon-desktop"></i> Placeholder</h3>
      </div>
      <div class="panel-body">
        ???
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL}}dashboard/template-list.js"></script>
  <script src="{{ STATIC_URL}}dashboard/js/stupidtable.min.js"></script>
{% endblock %}
