
<style>
  .row {
    margin-bottom: 15px;
  }
</style>
<div class="row">
  <div class="col-sm-10">
  <select class="select form-control">
    <option>Menő gép</option>
    <option>Menő gép</option>
    <option>Menő gép</option>
    <option>Menő gép</option>
    <option>Menő gép</option>
  </select>
  </div>
</div> 

<div class="row">
  <div class="col-sm-5">
    <a class="btn btn-info vm-create-advanced-btn">Advanced <i class="vm-create-advanced-icon icon-caret-down"></i></a>
  </div>
  <div class="col-sm-5 text-right">
    <a class="btn btn-success "><i class="icon-play"></i> Start</a>
  </div>
</div>

<div class="vm-create-advanced">
  <div class="row">
    <div class="col-sm-12">
      <h2>Resources</h2>
    </div>
    {% include "dashboard/vm-detail-resources.html" %}
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2>Disks</h2>
    </div>
    <div class="col-sm-8" style="padding-top: 3px;">
      <h3><span class="label label-primary"><i class="icon-file"></i> default</span>
      </h3>
      <h3>
        <div class="input-group" style="max-width: 300px;">
          <select class="form-control">         
            <option value="1">yo disk</option>
            <option value="2">huge</option>
            <option value="3">minor</option>
          </select>
          <div class="input-group-btn">
            <!--<input type="submit" value="Add disk" class="btn btn-success"/>-->
            <a href="" class="btn btn-success"><i class="icon-plus-sign"></i></a>
          </div>
        </div>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2>Network</h2> 
    </div>
    <div class="col-sm-8" style="padding-top: 3px;">
      <h3><span class="label label-primary"><i class="icon-globe"></i> vmnet</span>
      <span class="label label-default"><i class="icon-link"></i> grid</span></h3>
      <h3>
        <div class="input-group" style="max-width: 300px;">
          <select class="form-control">         
            <option value="1">vmnet2</option>
            <option value="2">PUB</option>
            <option value="3">OFF</option>
          </select>
          <div class="input-group-btn">
            <!--<input type="submit" value="Add to network" class="btn btn-success"/>-->
            <a href="" class="btn btn-success"><i class="icon-plus-sign"></i></a>
          </div>
        </div>
      </h3>
    </div>
  </div>
</div>
