<style>
  .row {
    margin-bottom: 15px;
  }
</style>
<div class="row">
  <div class="col-sm-10">
  <select class="select form-control" id="vm-create-template-select">
    <option value="-1">Choose a VM template</option>
    {% for template in templates %}
      <option value="{{ template.pk }}">{{ template.name}}</option>
    {% endfor %}
  </select>
  </div>
</div> 

<div class="row">
  <div class="col-sm-5">
    <a class="btn btn-info vm-create-advanced-btn">Advanced <i class="vm-create-advanced-icon icon-caret-down"></i></a>
  </div>
  <div class="col-sm-5 text-right">
    <a class="btn btn-success "><i class="icon-play"></i> Start</a>
  </div>
</div>

<div class="vm-create-advanced">
  <div class="row">
    <div class="col-sm-12">
      <h2>Resources</h2>
    </div>
    {% include "dashboard/vm-detail-resources.html" %}
  </div>

  <!-- disk -->
  <div class="row">
    <div class="col-sm-4">
      <h2>Disks</h2>
    </div>
    <div class="col-sm-8" style="padding-top: 3px;">
      <div class="js-hidden" style="padding-top: 15px;">
        <select class="form-control" id="vm-create-disk-add-form" multiple>
          {% for d in disks %}
            <option value="{{ d.pk }}">{{ d.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="no-js-hidden">
        <h3 id="vm-create-disk-list">
          No disks are added!
        </h3>
        <h3 id="vm-create-disk-add">
          <div class="input-group" style="max-width: 330px;">
            <select class="form-control" id="vm-create-disk-add-select">         
              <!-- options should be copied via js from above -->
            </select>
            <div class="input-group-btn">
              <!--<input type="submit" value="Add to network" class="btn btn-success"/>-->
              <a href="#" id="vm-create-disk-add-button" class="btn btn-success"><i class="icon-plus-sign"></i></a>
            </div>
          </div>
        </h3>
      </div>
    </div>
  </div>

  <!-- network -->
  <div class="row">
    <div class="col-sm-4">
      <h2>Network</h2> 
    </div>
    <style>
      /* temporary inline css for dev */
      a.hover-black {
        color:white;
      }

      .hover-black:hover {
        color: black /*#d9534f*/;
        text-decoration: none;
      }

      .no-js-hidden {
        display: none;
      }
    </style>
    <div class="col-sm-8" style="padding-top: 3px;">
      <div class="js-hidden" style="padding-top: 15px;">
        <h4>Managed networks</h4>
        <select class="form-control" id="vm-create-network-add-managed" multiple>
          {% for v in vlans %}
            <option value="{{ v.pk }}">{{ v.name }}</option>
          {% endfor %}
        </select>

        <h4>Unmanaged networks</h4>
        <select class="form-control" id="vm-create-network-add-unmanaged" multiple>
          {% for v in vlans %}
            <option value="{{ v.pk }}">{{ v.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="no-js-hidden">
        <h3 id="vm-create-network-list">
          Not added to any network!
        </h3>
        <h3 id="vm-create-network-add">
          <div class="input-group" style="max-width: 330px;">
            <select class="form-control" id="vm-create-network-add-select">         
              <!-- options should be copied via js from above -->
            </select>
            <span class="input-group-addon">
              <input id="vm-create-network-add-checkbox-managed" type="checkbox" title data-original-title="Managed network?" style="-webkit-transform: scale(1.4, 1.4); margin-top: 4px;" checked/>
            </span>
            <div class="input-group-btn">
              <!--<input type="submit" value="Add to network" class="btn btn-success"/>-->
              <a href="#" id="vm-create-network-add-button" class="btn btn-success"><i class="icon-plus-sign"></i></a>
            </div>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
