<tfoot>
  <tr>
    <td style="vertical-align: middle;">
      <i class="icon-plus"></i> <i class="icon-long-arrow-right"></i>
    </td>
    <td colspan="2">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" size="5" />
        <span class="input-group-addon">/</span>
        <select class="form-control"><option>tcp</option><option>udp</option></select>
      </div>
    </td>
    <td>
      <button type="submit" class="btn btn-success btn-sm">Add</button>
    </td>
  </tr>
</tfoot>
