{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}
<div class="body-content">
  <div class="page-header">
    <h1>
      <div id="vm-details-rename">
        <form action="" method="POST" id="vm-details-rename-form">
          {% csrf_token %}
          <input id="vm-details-rename-name" class="form-control" name="new_name" type="text" value="{{ instance.name }}"/> 
          <button type="submit" id="vm-details-rename-submit" class="btn">{% trans "Rename" %}</button>
        </form>
      </div>
      <div id="vm-details-h1-name">
        {{ instance.name }} 
      </div>
      <small>{{ instance.get_connect_host }}</small></h1>
  </div>
  <div class="row">
    <div class="col-md-4" id="vm-info-pane">
      <div class="big">
        <span class="label label-success">{{ instance.state }}</span>
        <div class="btn-group">
          <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Action <i class="icon-caret-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="vm-details-rename-button"><i class="icon-pencil"></i> Rename</a></li>
            <li><a href="#"><i class="icon-refresh"></i> Reboot</a></li>
            <li><a href="#"><i class="icon-off"></i> Shutdown</a></li>
            <li><a data-vm-pk="{{ instance.pk }}" class="vm-delete" href="{% url "dashboard.views.delete-vm" pk=instance.pk %}"><i class="icon-remove"></i> Discard</a></li>
          </ul>
        </div>
      </div>
      <h3>{% trans "Connection" %}</h3>
      <input type="text" value="ssh cloud@vm.ik.bme.hu -p22312" class="form-control" readonly />
      <dl class="dl-horizontal">
        <dt>Etiam at felis:</dt>
        <dd>condimentum lig igulaulal ulaligula vel</dd>
        <dt>Vivamus nec:</dt>
        <dd>ac metus interdum, tincidunt</dd>
      </dl>
    </div>
    <div class="col-md-8" id="vm-detail-pane">
      <div class="panel panel-default" id="vm-detail-panel">
        <ul class="nav nav-pills panel-heading">
          <li class="active">
            <a href="#home" data-toggle="pill" class="text-center">
              <i class="icon-compass icon-2x"></i><br>
              {% trans "Home" %}</a></li>
          <li>
            <a href="#resources" data-toggle="pill" class="text-center">
              <i class="icon-tasks icon-2x"></i><br>
              {% trans "Resources" %}</a></li>
            <li {% if instance.state != "RUNNING" %}class="disabled"{% endif %}>
            <a href="#{% if instance.state == "RUNNING" %}console" data-toggle="pill{% endif %}" class="text-center">
              <i class="icon-desktop icon-2x"></i><br>
              {% trans "Console" %}</a></li>
          <li>
            <a href="#access" data-toggle="pill" class="text-center">
              <i class="icon-group icon-2x"></i><br>
              {% trans "Access" %}</a></li>
          <li>
            <a href="#network" data-toggle="pill" class="text-center">
              <i class="icon-globe icon-2x"></i><br>
              {% trans "Network" %}</a></li>
          <li>
            <a href="#activity" data-toggle="pill" class="text-center">
              <i class="icon-time icon-2x"></i><br>
              {% trans "Activity" %}</a></li>
        </ul>

        <div class="tab-content panel-body">
          <div class="tab-pane active" id="home">{% include "dashboard/vm-detail-home.html" %}</div>
          <div class="tab-pane" id="resources">{% include "dashboard/vm-detail-resources.html" %}</div>
          <div class="tab-pane" id="console">{% include "dashboard/vm-detail-console.html" %}</div>
          <div class="tab-pane" id="access">{% include "dashboard/vm-detail-access.html" %} </div>
          <div class="tab-pane" id="network">{% include "dashboard/vm-detail-network.html" %}</div>
          <div class="tab-pane" id="activity">{% include "dashboard/vm-detail-activity.html" %}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
