<p class="row">
    <div class="col-sm-3">
        <label for="cpu-priority-slider"><i class="icon-trophy"></i> CPU priority</label>
    </div>
    <div class="col-sm-9">
      <input type="text" data-slider="true" data-slider-highlight="true" 
      data-slider-snap="true" data-slider-range="0,100" data-slider-step="1" id="cpu-priority-slider" value="{{ instance.priority }}">
    </div>
</p>


<p class="row">
    <div class="col-sm-3">
        <label for="cpu-count-slider"><i class="icon-cogs"></i> CPU count</label>
    </div>
    <div class="col-sm-9">
      <input type="text" value="{{ instance.num_cores }}" data-slider="true" data-slider-highlight="true" data-slider-range="0,8" data-slider-snap="true" data-slider-step="1" id="cpu-count-slider">
    </div>
</p>


<p class="row">
    <div class="col-sm-3">
        <label for="ram-slider"><i class="icon-ticket"></i> RAM amount</label>
    </div>
    <div class="col-sm-9">
      <input type="text" data-slider="true" data-slider-highlight="true" id="ram-slider" data-slider-range="128,4096" data-slider-snap="true" data-slider-step="128" value="{{ instance.ram_size }}"> MiB
    </div>
</p>

