{% extends "dashboard/base.html" %}
{% load i18n %}

{% block content %}
<div class="body-content">
  <div class="page-header">
    <div class="pull-right" style="padding-top: 15px;">
      <a title="Rename" href="#" class="btn btn-default btn-xs vm-details-rename-button"><i class="icon-pencil"></i></a>
      <a title="Pause == sleep?" href="#" class="btn btn-default btn-xs"><i class="icon-pause"></i></a>
      <form style="display: inline;" method="POST" action="{% url "dashboard.views.detail" pk=instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="sleep" value="dummy"/>
        <button title="{% trans "Sleep" %}" class="btn btn-default btn-xs" type="submit"><i class="icon-moon"></i></button>
      </form>
      <form style="display: inline;" method="POST" action="{% url "dashboard.views.detail" pk=instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="deploy" value="dummy"/>
        <button title="{% trans "Deploy" %}" class="btn btn-default btn-xs" type="submit"><i class="icon-play"></i></button>
      </form>
      <form style="display: inline;" method="POST" action="{% url "dashboard.views.detail" pk=instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="wake_up" value="dummy"/>
        <button title="{% trans "Wake up" %}" class="btn btn-default btn-xs" type="submit"><i class="icon-sun"></i></button>
      </form>
      <form style="display: inline;" method="POST" action="{% url "dashboard.views.detail" pk=instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="shut_down" value="dummy"/>
        <button title="{% trans "Shut down" %}" class="btn btn-default btn-xs" type="submit"><i class="icon-off"></i></button>
      </form>
      <a title="Migrate" href="#" class="btn btn-default btn-xs"><i class="icon-truck"></i></a>
      <form style="display: inline;" method="POST" action="{% url "dashboard.views.detail" pk=instance.pk %}">
        {% csrf_token %}
        <input type="hidden" name="save_as" value="dummy"/>
        <button title="{% trans "Save as template" %}" class="btn btn-default btn-xs" type="submit"><i class="icon-save"></i></button>
      </form>
      <a title="{% trans "Destroy" %}" href="{% url "dashboard.views.delete-vm" pk=instance.pk %}" class="btn btn-default btn-xs vm-delete" data-vm-pk="{{ instance.pk }}"><i class="icon-remove"></i></a>
    </div>
    <h1>
      <div id="vm-details-rename">
        <form action="" method="POST" id="vm-details-rename-form">
          {% csrf_token %}
          <input id="vm-details-rename-name" class="form-control" name="new_name" type="text" value="{{ instance.name }}"/> 
          <button type="submit" id="vm-details-rename-submit" class="btn">{% trans "Rename" %}</button>
        </form>
      </div>
      <div id="vm-details-h1-name">
        {{ instance.name }} 
      </div>
      <small>{{ instance.primary_host.get_fqdn }}</small></h1>
  </div>
  <div class="row">
    <div class="col-md-4" id="vm-info-pane">
      <div class="big">
        <span id="vm-details-state" class="label label-success">{{ instance.state }}</span>
        <div class="btn-group">
          <button type="button" class="btn btn-warning nojs-dropdown-toogle dropdown-toggle" data-toggle="dropdown">Action <i class="icon-caret-down"></i></button>
          <ul class="nojs-dropdown-menu dropdown-menu" role="menu">
            <li><a href="#" class="vm-details-rename-button"><i class="icon-pencil"></i> {% trans "Rename" %}</a></li>
            <li><a data-vm-pk="{{ instance.pk }}" href="#" class="vm-details-save-as-button"><i class="icon-save"></i> {% trans "Save as" %}</a></li>
            <li><a href="#"><i class="icon-refresh"></i> {% trans "Reboot" %}</a></li>
            <li><a href="#"><i class="icon-off"></i> {% trans "Shutdown" %}</a></li>
            <li><a data-vm-pk="{{ instance.pk }}" class="vm-delete" href="{% url "dashboard.views.delete-vm" pk=instance.pk %}"><i class="icon-remove"></i> {% trans "Discard" %}</a></li>
          </ul>
        </div>
      </div>
      <h3>{% trans "Connection" %}</h3>
      <input type="text" value="{{ instance.get_connect_command }}" class="form-control" readonly />
      <dl class="dl-horizontal vm-details-pw">
        <dt>Password:</dt>
        <dd>
          <div class="input-group">
            <input type="text" class="form-control input-sm input-tags" value="{{ instance.pw }}"/>
            <span class="input-group-addon input-tags" id="vm-details-pw-show">
              <i class="icon-eye-open" id="vm-details-pw-eye" title="Show password"></i>
            </span>
          </div>
        </dd>
        <dd style="font-size: 10px; text-align: right; padding-top: 8px;">
          <a id="vm-details-pw-change" href="#">Generate new password!</a>
        </dd>
        <div id="vm-details-pw-confirm">
          <dt>
            Are you sure?
          </dt>
          <dd>
            <a href="#" class="vm-details-pw-confirm-choice label label-success" data-choice="1" data-vm="{{ instance.pk }}">Yes</a> / 
            <a href="#" class="vm-details-pw-confirm-choice label label-danger" data-choice="0">No</a>
          </dd>
        </div>
      </dl>
    </div>
    <div class="col-md-8" id="vm-detail-pane">
      <div class="panel panel-default" id="vm-detail-panel">
        <ul class="nav nav-pills panel-heading">
          <li class="active">
            <a href="#home" data-toggle="pill" data-target="#_home" class="text-center">
              <i class="icon-compass icon-2x"></i><br>
              {% trans "Home" %}</a>
          </li>
          <li>
            <a href="#resources" data-toggle="pill" data-target="#_resources" class="text-center">
              <i class="icon-tasks icon-2x"></i><br>
              {% trans "Resources" %}</a>
          </li>
          <li {% if instance.state != "RUNNING" %}class="disabled"{% endif %}>
            <a href="#{% if instance.state == "RUNNING" %}console" data-toggle="pill{% endif %}" data-target="#_console" class="text-center">
              <i class="icon-desktop icon-2x"></i><br>
              {% trans "Console" %}</a></li>
          <li>
            <a href="#access" data-toggle="pill" data-target="#_access" class="text-center">
              <i class="icon-group icon-2x"></i><br>
              {% trans "Access" %}</a>
          </li>
          <li>
            <a href="#network" data-toggle="pill" data-target="#_network" class="text-center">
              <i class="icon-globe icon-2x"></i><br>
              {% trans "Network" %}</a>
          </li>
          <li>
            <a href="#activity" data-toggle="pill" data-target="#_activity" class="text-center">
              <i class="icon-time icon-2x"></i><br>
              {% trans "Activity" %}</a>
          </li>
        </ul>

        <div class="tab-content panel-body">
          <div class="tab-pane active" id="_home">{% include "dashboard/vm-detail/home.html" %}</div>
          <div class="tab-pane" id="_resources">{% include "dashboard/vm-detail/resources.html" %}</div>
          <div class="tab-pane" id="_console">{% include "dashboard/vm-detail/console.html" %}</div>
          <div class="tab-pane" id="_access">{% include "dashboard/vm-detail/access.html" %} </div>
          <div class="tab-pane" id="_network">{% include "dashboard/vm-detail/network.html" %}</div>
          <div class="tab-pane" id="_activity">{% include "dashboard/vm-detail/activity.html" %}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
