{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title-page %}{% trans "Virtual machines" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right table-sorting">
          {% trans "Sorting ... " %}
          <!--<i class="icon-refresh icon-spin icon-2x"></i>-->
        </div>
        <h3 class="no-margin"><i class="icon-desktop"></i> {% trans "Virtual machines" %}</h3>
      </div>
      <div class="pull-right" style="max-width: 250px; margin-top: 15px; margin-right: 15px;">
        <form action="" method="GET" class="input-group">
          <input type="text" name="s"{% if request.GET.s %} value="{{ request.GET.s }}"{% endif %} class="form-control input-tags" placeholder="{% trans "Search..."%}" />
          <div class="input-group-btn">
            <button type="submit" class="form-control btn btn-primary input-tags" title="search"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <div class="panel-body vm-list-group-control">
        <p>
        <strong>{% trans "Group actions" %}</strong>
        <button id="vm-list-group-select-all" class="btn btn-info btn-xs">{% trans "Select all" %}</button>
        <a class="btn btn-default btn-xs" id="vm-list-group-migrate" disabled><i class="icon-truck"></i> {% trans "Migrate" %}</a>
        <a disabled href="#" class="btn btn-default btn-xs"><i class="icon-refresh"></i> {% trans "Reboot" %}</a>
        <a disabled href="#" class="btn btn-default btn-xs"><i class="icon-off"></i> {% trans "Shutdown" %}</a>
        <a id="vm-list-group-delete" disabled href="#" class="btn btn-danger btn-xs"><i class="icon-remove"></i> {% trans "Destroy" %}</a>
        </p>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped table-hover vm-list-table">
          <thead><tr>
              <th data-sort="int" class="orderable pk sortable vm-list-table-thin" style="min-width: 50px;">
                {% trans "ID" as t %}
                {% include "dashboard/vm-list/header-link.html" with name=t sort="pk" %}
              </th>
              <th data-sort="string" class="name orderable sortable">
                {% trans "Name" as t %}
                {% include "dashboard/vm-list/header-link.html" with name=t sort="name" %}
              </th>
              <th data-sort="string">
                {% trans "State" as t %}
                {% include "dashboard/vm-list/header-link.html" with name=t sort="status" %}
              </th>
              <th data-sort="string" class="orderable sortable">
                {% trans "Owner" as t %}
                {% include "dashboard/vm-list/header-link.html" with name=t sort="owner" %}
              </th>
              {% if user.is_superuser %}<th data-sort="string" class="orderable sortable">
                {% trans "Node" as t %}
                {% include "dashboard/vm-list/header-link.html" with name=t sort="node" %}
              </th>{% endif %}
          </tr></thead><tbody>
          {% for i in object_list %}
          <tr class="{% cycle 'odd' 'even' %}" data-vm-pk="{{ i.pk }}">
            <td class="pk"><div id="vm-{{i.pk}}">{{i.pk}}</div> </td>
            <td class="name"><a class="real-link" href="{% url "dashboard.views.detail" i.pk %}">{{ i.name }}</a>  </td>
            <td class="state">{{ i.get_status_display }}</td>
            <td>{{ i.owner }}</td>
            {% if user.is_superuser %}
            <td data-sort-value="{{ i.node.normalized_name }}">{{ i.node.name|default:"-" }}</td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">
              {% if request.GET.s %}
                <strong>{% trans "No result." %}</strong>
              {% else %}
                <strong>{% trans "You have no virtual machines." %}</strong>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<div class="alert alert-info">
  {% trans "You can select multiple vm instances while holding down the <strong>CTRL</strong> key." %}
  {% trans "If you want to select multiple instances by one click select an instance then hold down <strong>SHIFT</strong> key and select another one!" %}
</div>

{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL}}dashboard/vm-list.js"></script>
  <script src="{{ STATIC_URL}}dashboard/vm-common.js"></script>
  <script src="{{ STATIC_URL}}dashboard/js/stupidtable.min.js"></script>
{% endblock %}
