{% load i18n %}

<div class="list-group" id="store-list-list">
  <a href="{% url "dashboard.views.store-list" %}?directory={{ up_url }}" 
    class="list-group-item store-list-item" data-item-type="D">
    <i class="icon-reply store-list-item-icon"></i>
    ..
    <div class="pull-right">
      {{ current }}
    </div>
  </a>

  {% for f in root %}
  <a class="list-group-item store-list-item" data-item-type="{{ f.TYPE }}"
    href="{% if f.TYPE == "D" %}{% url "dashboard.views.store-list" %}?directory={{ f.path }}{% else %}
    {% url "dashboard.views.store-download" %}?path={{ f.path }}{% endif %}"
    >
    <div class="store-list-item-icon">
      <i class="
        icon-{% if f.TYPE == "D" %}folder-open-alt store-list-item-icon-directory{% else %}file-alt{% endif %}"
        ></i>
    </div>
    {{ f.NAME }}
    <div class="store-list-item-new">
      {% if f.is_new and f.TYPE == "F" %}
        <span class="badge badge-pulse">{% trans "new" %}</span>
      {% endif %}
    </div>
    
    <div class="store-list-item-size">
      {{ f.human_readable_size }}
    </div>
    <div class="clearfix"></div>
  </a>
  <div class="store-list-file-infos">
    <a href="{% url "dashboard.views.store-download" %}?path={{ f.path }}" 
      class="btn btn-primary btn-sm store-download-button">
      <i class="icon-download"></i>
      {% trans "Download" %}
    </a>
    <a href="{% url "dashboard.views.store-remove" %}?path={{ f.path }}" 
      class="btn btn-danger btn-xs store-remove-button">
      <i class="icon-remove"></i>
      {% trans "Remove" %}
    </a>
    <dl class="dl-horizontal" style="margin: 0; padding: 0;">
      <dt>{% trans "Filename" %}</dt>
      <dd>{{ f.NAME }}</dd>

      <dt>{% trans "Size" %}</dt>
      <dd>{{ f.human_readable_size }}</dd>

      <dt>{% trans "Latest modification" %}</dt>
      <dd>{{ f.human_readable_date }}</dd>
    </dl>
  </div>
  {% empty %}
  <a class="list-group-item">
    {% trans "This folder is empty." %}
  </a>
  {% endfor %}

  <div class="list-group-item">
    {% trans "Upload file to this folder" %}
    <a href="{% url "dashboard.views.store-upload"%}?directory={{ current }}"
      class="btn btn-info btn-xs pull-right js-hidden">
      {% trans "Upload" %}
    </a>
    <form action="" data-action="{% url "dashboard.views.store-upload-url" %}" 
      method="POST" enctype="multipart/form-data" class="pull-right no-js-hidden"
      id="store-upload-form">
      {% csrf_token %}
      <input type="hidden" name="current_dir" value="{{ current }}"/>
      <input type="hidden" name="next" value="{{ next_url }}"/>
      <div class="input-group" style="max-width: 350px;">
        <span class="input-group-btn" id="store-upload-browse">
          <span class="btn btn-primary btn-xs">
            {% trans "Browse..." %}
          </span>     
        </span>
        <input type="text" class="form-control input-tags" 
         id="store-upload-filename"/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-xs" disabled>
            <i class="icon-cloud-upload"></i> {% trans "Upload" %}
          </button>
        </span>
      </div>
      <input id="store-upload-file" name="data" type="file" style="display:none">
    </form>
  </div>
</div><!-- closing list-group -->

<div class="list-group">
  <div class="list-group-item">
    <a href="{% url "dashboard.views.store-remove" %}?path={{ current }}" 
      class="btn btn-danger btn-xs pull-right">
      <i class="icon-remove"></i> {% trans "Remove directory" %}
    </a>
    <form method="POST" action="{% url "dashboard.views.store-new-directory" %}">
      {% csrf_token %}
      <input type="hidden" name="path" value="{{ current }}"/>
      <div class="input-group" style="max-width: 350px;">
        <span class="input-group-addon input-tags" title="{% trans "New directory" %}">
          <i class="icon-folder-open-alt"></i>
        </span>
        <input type="text" class="form-control input-tags" name="name"
         placeholder="{% trans "Name "%}"/>
        <span class="input-group-btn">
          <input type="submit" class="btn btn-success btn-xs" value="{% trans "Create" %}"/>
        </span>
      </div>
    </form>
  </div>
</div>
