{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title-page %}{% trans "List" %} | {% trans "Store" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div id="store-list-container">
      {% include "dashboard/store/_list-box.html" %}
    </div>
  </div>
</div>

<div class="progress" style="position: relative; overflow: visible;">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ quota.Used }}" aria-valuemin="0"
    aria-valuemax="{{ quota.Hard }}" style="width:
    {% if quota.Used > quota.Hard %}100{% else %}{% widthratio quota.Used quota.Hard 100 %}%{% endif %}%">
    <div style="padding-top: 2px;">
      {% blocktrans with used=quota.readable_used %}
        {{ used }} used
      {% endblocktrans %}
    </div>
  </div>
    <div class="progress-marker" id="progress-marker-hard" data-placement="left"
      title="{% trans "Hard limit" %}: {{ quota.readable_hard }}">
    </div>
    <div class="progress-marker" id="progress-marker-soft" style="background: orange; 
      left: {% widthratio quota.Soft quota.Hard 100 %}%"
      title="{% trans "Soft limit" %}: {{ quota.readable_soft }}"
      data-placement="left">
    </div>
</div>

{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL}}dashboard/store.js"></script>
{% endblock %}
