{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
<div class="irasmu">
    <h2>Támogatás</h2>
    <section>
    <p>A rendszer használatával kapcsolatos kérdéseket, általános észrevételeket  a <tt>cloud <em>(kukac)</em>
        ik.bme.hu</tt> e-mail címen várjuk.
        Ugyancsak örömmel fogadjuk a rendszer használatával kapcsolatos beszámolókat.</p>
    <p>A rendszerben talált hibákat (vagy azok gyanúját), valamint ötleteit, javaslatait kérjük,
    hogy a <tt>cloud<em>(kukac)</em>ik.bme.hu</tt> címen jelezze.
    </p>
    </section>

</div>
{% endblock %}
