{% extends "box/base/box.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

{% block boxhelp %}
<div class="boxhelp">
    <div class="help">
        <div class="icon">
            <img src="{% static "icons/information-frame.png" %}" alt="{% trans "Help" %}" />
        </div>
        <div class="boxhelp-box">
            <p>{% blocktrans %}This is the list of your own templates.{% endblocktrans %}</p>
            <p>{% blocktrans %}Templates are customized versions of the base images.{% endblocktrans %}</p>
            <p>{% blocktrans %}You can install all the needed software on a master
            machine, and it will be ready to run by your students in minutes.
            {% endblocktrans %}</p>
        </div>
    </div>
    <div class="icon">
        <img src="" alt="eye" title="{% trans "Show/hide box" %}" class="toggle-box" data-id="members" id="toggle-box-members"/>
    </div>
</div>
{% endblock %}

{% block title %}
    {% trans "Members of" %}: {{group.name}}
{% endblock title %}

{% block content %}
<ul class="entry-list" id="group-members">
    {% for member in members %}
        {% include "box/person/entry.html" %}
    {% endfor %}
    <li class="entry small-row">
        <div class="summary" id="new-member">
            <div class="name">{% trans "Add user" %}</div>
            <div id="new-member-form">
                <input type="text" placeholder="{% trans "User NEPTUN code" %}" />
                <input type="submit" value="{% trans "Add user" %}" data-id="{{group.id}}"/>
            </div>
            <div class="clear"></div>
        </div>
    </li>
</ul>
{% endblock content %}
