{% extends "box/base/box.html" %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% trans "Members of" %}: {{group.name}}
{% endblock title %}

{% block content %}
<ul class="entry-list" id="group-members">
    {% for member in members %}
        {% include "box/person/entry.html" %}
    {% endfor %}
    <li class="entry small-row">
        <div class="summary" id="new-member">
            <div class="name">{% trans "Add user" %}</div>
            <div id="new-member-form">
                <input type="text" placeholder="{% trans "User NEPTUN code" %}" />
                <input type="submit" value="{% trans "Add user" %}" data-id="{{group.id}}"/>
            </div>
            <div class="clear"></div>
        </div>
    </li>
</ul>
{% endblock content %}
