{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% get_current_language as lang %}

{% block extra_link %}
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="{% static "network/network.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_css %}
<style type="text/css">
  body {
    padding-top:40px;
  }

  /* note: this doesn't really work */
  a i:hover {
      text-decoration: none;
  }

  footer {
      margin-top: 45px;
  }

  .messagelist {
      margin-top: 25px;
  }
</style>
{% endblock %}

{% block navbar-brand %}
  <a class="navbar-brand" href="{% url "network.index" %}">CIRCLE Network</a>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
   {% include "network/menu.html" %}
  </ul>
  <a class="navbar-brand pull-right" href="{% url "dashboard.index" %}"
      style="color: white; font-size: 10px;">
    <i class="icon-dashboard"></i> 
    {% trans "dashboard" %}
  </a>
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/bootbox.min.js" %}"></script>
  <script src="{% static "js/network.js" %}"></script>
{% endblock %}
