{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% get_current_language as lang %}

{% block title-site %}{% trans "Network" %} | CIRCLE{% endblock %}

{% block navbar-brand %}
  <a class="navbar-brand" href="{% url "network.index" %}">CIRCLE Network</a>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
   {% include "network/menu.html" %}
  </ul>
  <a class="navbar-brand pull-right" href="{% url "dashboard.index" %}"
      style="color: white; font-size: 10px;">
    <i class="fa fa-dashboard"></i>
    {% trans "dashboard" %}
  </a>
{% endblock %}
