{% load i18n %}
{% load staticfiles %}

<div class="row">
  <div class="col-sm-12">
    <h3>
      <div class="pull-right">
        <a href="{% url "network.host_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.host_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Hosts" %}
      <div>
        <small>{% trans "Hosts are machines on the network" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.vlan_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.vlan_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Vlans" %}
      <div>
        <small>{% trans "802.1Q virtual networks" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.vxlan-list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.vxlan-create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Vxlans" %}
      <div>
        <small>{% trans "VXLAN virtual networks" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.domain_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.domain_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Domains" %}
      <div>
        <small>{% trans "Domain names" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.record_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.record_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Records" %}
      <div>
        <small>{% trans "DNS records" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.blacklist_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.blacklist_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Blacklist items" %}
      <div>
        <small>{% trans "List of denied IPs and exceptions" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.rule_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.rule_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Rules" %}
      <div>
        <small>{% trans "Firewall rules" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.switch_port_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.switch_port_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Switch ports" %}
      <div>
        <small>{% trans "Switch ports" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.vlan_group_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.vlan_group_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Vlan groups" %}
      <div>
        <small>{% trans "Groups of 802.1Q virtual networks" %}</small>
      </div>
    </h3>

    <h3>
      <div class="pull-right">
        <a href="{% url "network.group_list" %}" class="btn btn-xs btn-default">
          <i class="fa fa-list"></i> {% trans "list" %}
        </a>
        <a href="{% url "network.group_create" %}" class="btn btn-xs btn-success">
          <i class="fa fa-plus-circle"></i> {% trans "new" %}
        </a>
      </div>
      {% trans "Host groups" %}
      <div>
        <small>{% trans "Groups of hosts are machines on the network" %}</small>
      </div>
    </h3>
  </div>
</div>
