{% load i18n %}
{% load l10n %}

{% url "network.host_list" as u %}
{% trans "Hosts" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.vlan_list" as u %}
{% trans "Vlans" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.domain_list" as u %}
{% trans "Domains" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.record_list" as u %}
{% trans "Records" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.blacklist_list" as u %}
{% trans "Blacklist" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.rule_list" as u %}
{% trans "Rules" as t %}
{% include "network/menu-item.html" with href=u text=t %}
{% url "network.switch_port_list" as u %}
{% trans "Switch ports" as t %}
{% include "network/menu-item.html" with href=u text=t %}

<li class="dropdown{% if "groups" in request.path %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>
    <ul class="dropdown-menu">   
        {% url "network.vlan_group_list" as u %}
        {% trans "Vlan groups" as t %}
        {% include "network/menu-item.html" with href=u text=t %}

        {% url "network.group_list" as u %}
        {% trans "Host groups" as t %}
        {% include "network/menu-item.html" with href=u text=t %}
    </ul>
</li>

{# <li><a href="/vlans/">{% trans "Vlans" %}</a></li> #}
{# <li><a href="/vlangroups/">{% trans "Vlan groups" %}</a></li> #}
{# <li><a href="/hostgroups/">{% trans "Host groups" %}</a></li> #}
{# <li><a href="/hosts/">{% trans "Hosts" %}</a></li> #}
{# <li><a href="/firewalls/">{% trans "Firewalls" %}</a></li> #}
{# <li><a href="/domains/">{% trans "Domains" %}</a></li> #}
{# <li><a href="/records/">{% trans "DNS records" %}</a></li> #}
{# <li><a href="/blacklist/">{% trans "Blacklist" %}</a></li> #}
