{% extends "network/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block title-page %}{{ rule.pk }} | {% trans "rule" %}{% endblock %}

{% block content %}
<div class="page-header">
    <a href="{% url "network.rule_delete" pk=rule.pk %}" class="btn btn-danger pull-right"><i class="fa fa-times-circle"></i> {% trans "Delete this rule" %}</a>
    <h3>
        {% with rule as record %}
            {% include "network/columns/host-rule.html" %}
        {% endwith %}
    </h3>
</div>

<div class="row">
  <div class="col-sm-7">
    {% include "network/rule-form.html" %}
  </div>
</div>
{% endblock %}
