{% extends "network/base.html" %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block title-page %}{% trans "Vlans" %}{% endblock %}

{% block content %}
<div class="page-header">
    <a href="{% url "network.vlan_create" %}" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i> {% trans "Create a new vlan" %}</a>
    <h1>Vlans <small>{% trans "list of all vlans" %}</small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <form action="" method="GET" id="network-vlan-list-form">
      <div class="input-group">
        <input type="text" id="network-vlan-list-input" name="s" class="form-control"
        value="{{ request.GET.s }}" placeholder="{% trans "Search..." %}"/>
        <span class="input-group-btn">
          <button class="btn btn-primary"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
    {% render_table table %}
</div>
{% endblock %}
